{% extends 'accounts/base.html' %} {% block body %}

<h2> Blog Page <h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium dolore in molestias, dicta minus cum animi ipsum incidunt labore consectetur exercitationem esse ullam quisquam deserunt eum ea, voluptas quo provident!</p>
<br>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae autem molestiae sunt rem, quas quam ad reiciendis in illo est repellat saepe quo! Iste corporis, ratione quidem fugiat earum doloribus.
</p>


{% endblock body %}
