{% extends 'accounts/base.html' %} 
{% block body %}
  
<section class="section-page-header section-page-header-careers wf-section">
  <div class="landing-page-container">
    <div
      class="section-page-header-content section-page-header-content-careers"
    >
      <div
        class="section-page-header-left-content section-page-header-left-content-careers"
      >
        <h1 class="heading-9">
          Help us build a better world for our pets.
        </h1>
        <p class="text-block-40">
          Pawp’s first-of-its-kind virtual veterinary clinic uses thoughtful
          tools and technology to improve and extend our pets’ lives. Learn
          more about how you can make a real difference at Pawp.
        </p>
        <a
          href="#roles"
          data-track-click-property-cta_text="See Open Roles"
          data-track-click="true"
          data-track-click-name="CTA Selected"
          data-track-click-property-location="hero"
          data-track-click-property-screen="careers-landing"
          class="button button-size-large button-variant-iris button-full-width home-page-header-button unauthed-state w-button"
          >See Open Roles</a
        >
      </div>
      <div
        class="section-page-header-right-content section-page-header-right-content-careers"
      >
        <img
          src="https://assets.website-files.com/6331f18a8af6845b0f127c61/639250b6a9b090545770d5ee_Frame%20626600.webp"
          loading="lazy"
          width="669"
          height="563"
          alt="Pawp employees and pets in image grid"
          srcset="
            https://assets.website-files.com/6331f18a8af6845b0f127c61/639250b6a9b090545770d5ee_Frame%20626600-p-500.webp  500w,
            https://assets.website-files.com/6331f18a8af6845b0f127c61/639250b6a9b090545770d5ee_Frame%20626600-p-800.webp  800w,
            https://assets.website-files.com/6331f18a8af6845b0f127c61/639250b6a9b090545770d5ee_Frame%20626600.webp       1180w
          "
          sizes="(max-width: 767px) 93vw, (max-width: 991px) 46vw, (max-width: 1439px) 44vw, 640px"
          class="section-page-header-right-content-image"
        />
      </div>
    </div>
  </div>
</section>
<section class="section-pioneering wf-section">
  <div class="landing-page-container">
    <div class="section-pioneering-content">
      <div class="section-pioneering-top-text-content">
        <p class="text-block-62 section-eyebrow">WHO WE ARE</p>
        <h2 class="heading-12">
          We are pioneering a new standard of pet care.
        </h2>
        <p class="text-block-63">
          So much of a pet’s care happens when it’s too late to make a real
          difference. With our continuous care model, Pawp prioritizes pets’
          long-term mental and physical health.
        </p>
      </div>
      <div class="section-pioneering-bottom-content">
        <div class="div-block-70">
          <div class="careers-large-number-block">
            <p class="text-block-65">250K</p>
          </div>
          <div class="careers-small-text-block">
            <p class="text-block-64">
              How many cats and dogs Pawp has already helped.
            </p>
          </div>
        </div>
        <div class="div-block-70">
          <div class="careers-large-number-block">
            <p class="text-block-65">60%</p>
          </div>
          <div class="careers-small-text-block">
            <p class="text-block-64">
              How many avoidable in-person visits Pawp has prevented.
            </p>
          </div>
        </div>
        <div class="div-block-70">
          <div class="careers-large-number-block">
            <p class="text-block-65">$25M</p>
          </div>
          <div class="careers-small-text-block">
            <p class="text-block-64">
              How much money Pawp has saved pets and their parents.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-reviews section-reviews-careers wf-section">
  <div class="landing-page-container custom-landing-page-container">
    <div class="section-reviews-content section-reviews-content-careers">
      <div class="section-reviews-slider-container">
        <div
          data-delay="4000"
          data-animation="slide"
          class="slider section-reviews-slider w-slider"
          data-autoplay="true"
          data-easing="ease"
          data-hide-arrows="false"
          data-disable-swipe="false"
          data-autoplay-limit="0"
          data-nav-spacing="3"
          data-duration="1000"
          data-infinite="true"
        >
          <div class="mask w-slider-mask">
            <div class="slide w-slide">
              <div class="section-reviews-slide-content">
                <div
                  class="section-reviews-slide-content-left section-reviews-slide-content-left-careers"
                >
                  <p class="text-block-75 section-eyebrow">
                    WHAT WE BELIEVE
                  </p>
                  <p class="text-block-42 review-slide-title-careers">
                    Finding your purpose at Pawp.
                  </p>
                  <p class="text-block-43 review-slide-description-careers">
                    &quot;We are bringing joy back to veterinary medicine!
                    Expanding our reach through virtual care and teleadvice,
                    reducing obstacles to care, and enabling veterinary
                    professionals to help more pets and people. By joining
                    our team, you will thrive in a supportive environment
                    that promotes a culture of wellness, professional
                    growth, and work-life balance.&quot;
                  </p>
                  <p class="text-block-44">Kim Knapp</p>
                  <p class="text-block-45">Veterinary Operations, Pawp</p>
                </div>
                <div
                  class="section-reviews-slide-content-right section-reviews-slide-content-right-careers"
                >
                  <div class="div-block-74">
                    <img
                      src="https://assets.website-files.com/6331f18a8af6845b0f127c61/63974be241041c4164270178_Mask%20group-2.webp"
                      loading="lazy"
                      width="449"
                      height="371"
                      alt="Kim Knapp from Pawp"
                      srcset="
                        https://assets.website-files.com/6331f18a8af6845b0f127c61/63974be241041c4164270178_Mask%20group-2-p-500.webp  500w,
                        https://assets.website-files.com/6331f18a8af6845b0f127c61/63974be241041c4164270178_Mask%20group-2-p-800.webp  800w,
                        https://assets.website-files.com/6331f18a8af6845b0f127c61/63974be241041c4164270178_Mask%20group-2.webp       1089w
                      "
                      sizes="(max-width: 767px) 93vw, (max-width: 991px) 42vw, (max-width: 1439px) 40vw, 449px"
                      class="image-63"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="slide w-slide">
              <div class="section-reviews-slide-content">
                <div
                  class="section-reviews-slide-content-left section-reviews-slide-content-left-careers"
                >
                  <div class="text-block-75">
                    <strong>WHAT WE BELIEVE</strong>
                  </div>
                  <div class="text-block-42 review-slide-title-careers">
                    Building a life-saving product.
                  </div>
                  <div
                    class="text-block-43 review-slide-description-careers"
                  >
                    &quot;Pawp balances being on the cutting edge of the
                    telehealth space with a human-centered approach to
                    building our product. You have unique opportunities for
                    impact and innovation here as you can help build
                    meaningful products and experiences that can genuinely
                    enrich and save pets&#x27; lives.&quot;
                  </div>
                  <div class="text-block-44">Adeel Fahimullah</div>
                  <div class="text-block-45">Product Design, Pawp</div>
                </div>
                <div
                  class="section-reviews-slide-content-right section-reviews-slide-content-right-careers"
                >
                  <div class="div-block-74">
                    <img
                      src="https://assets.website-files.com/6331f18a8af6845b0f127c61/63974be27ed1b47c5546f3ab_Mask%20group-1.webp"
                      loading="lazy"
                      width="449"
                      height="371"
                      alt="Adeel Fahimullah from Pawp"
                      srcset="
                        https://assets.website-files.com/6331f18a8af6845b0f127c61/63974be27ed1b47c5546f3ab_Mask%20group-1-p-500.webp   500w,
                        https://assets.website-files.com/6331f18a8af6845b0f127c61/63974be27ed1b47c5546f3ab_Mask%20group-1-p-800.webp   800w,
                        https://assets.website-files.com/6331f18a8af6845b0f127c61/63974be27ed1b47c5546f3ab_Mask%20group-1-p-1080.webp 1080w,
                        https://assets.website-files.com/6331f18a8af6845b0f127c61/63974be27ed1b47c5546f3ab_Mask%20group-1.webp        1122w
                      "
                      sizes="(max-width: 767px) 93vw, (max-width: 991px) 42vw, (max-width: 1439px) 40vw, 449px"
                      class="image-63"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="slide w-slide">
              <div class="section-reviews-slide-content">
                <div
                  class="section-reviews-slide-content-left section-reviews-slide-content-left-careers"
                >
                  <div class="text-block-75">
                    <strong>WHAT WE BELIEVE</strong>
                  </div>
                  <div class="text-block-42 review-slide-title-careers">
                    Giving pets the lives they deserve.
                  </div>
                  <div
                    class="text-block-43 review-slide-description-careers"
                  >
                    &quot;Pawp is a mission-driven brand that is innovating,
                    educating, and creating transparency in the pet
                    industry. I have the privilege of working with some of
                    the smartest people in this space who are building
                    groundbreaking tools that will fundamentally alter the
                    way we care for our pets forever, and for the
                    better.&quot;
                  </div>
                  <div class="text-block-44">Marc Atiyeh</div>
                  <div class="text-block-45">CEO, Pawp</div>
                </div>
                <div
                  class="section-reviews-slide-content-right section-reviews-slide-content-right-careers"
                >
                  <div class="div-block-74">
                    <img
                      src="https://assets.website-files.com/6331f18a8af6845b0f127c61/63974be2c659e032ac16f603_Mask%20group.webp"
                      loading="lazy"
                      width="449"
                      height="371"
                      alt="Marc Atiyeh from Pawp"
                      srcset="
                        https://assets.website-files.com/6331f18a8af6845b0f127c61/63974be2c659e032ac16f603_Mask%20group-p-500.webp   500w,
                        https://assets.website-files.com/6331f18a8af6845b0f127c61/63974be2c659e032ac16f603_Mask%20group-p-800.webp   800w,
                        https://assets.website-files.com/6331f18a8af6845b0f127c61/63974be2c659e032ac16f603_Mask%20group-p-1080.webp 1080w,
                        https://assets.website-files.com/6331f18a8af6845b0f127c61/63974be2c659e032ac16f603_Mask%20group.webp        1121w
                      "
                      sizes="(max-width: 767px) 93vw, (max-width: 991px) 42vw, (max-width: 1439px) 40vw, 449px"
                      class="image-63"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="slide w-slide">
              <div class="section-reviews-slide-content">
                <div
                  class="section-reviews-slide-content-left section-reviews-slide-content-left-careers"
                >
                  <div class="text-block-75">
                    <strong>WHAT WE BELIEVE</strong>
                  </div>
                  <div class="text-block-42 review-slide-title-careers">
                    Constantly innovating with an incredible team.
                  </div>
                  <div
                    class="text-block-43 review-slide-description-careers"
                  >
                    &quot;Second only to cats and dogs (a tie), the people,
                    are the best part of working at Pawp. I’m spoiled by not
                    only smart, caring, and ambitious partners on the
                    engineering team, but everywhere in the company! Ego is
                    not part of the engineering culture at Pawp. We debate,
                    discuss, and then develop. It is not about who is right
                    or wrong, but how can we best help out our fellow pet
                    parents!&quot;
                  </div>
                  <div class="text-block-44">Jason Katzer</div>
                  <div class="text-block-45">Engineering, Pawp</div>
                </div>
                <div
                  class="section-reviews-slide-content-right section-reviews-slide-content-right-careers"
                >
                  <div class="div-block-74">
                    <img
                      src="https://assets.website-files.com/6331f18a8af6845b0f127c61/6397ce8177ac91dfa4bbeedd_Mask%20group%20(24).webp"
                      loading="lazy"
                      height="371"
                      alt="Marc Atiyeh from Pawp"
                      width="449"
                      srcset="
                        https://assets.website-files.com/6331f18a8af6845b0f127c61/6397ce8177ac91dfa4bbeedd_Mask%20group%20(24)-p-500.webp   500w,
                        https://assets.website-files.com/6331f18a8af6845b0f127c61/6397ce8177ac91dfa4bbeedd_Mask%20group%20(24)-p-800.webp   800w,
                        https://assets.website-files.com/6331f18a8af6845b0f127c61/6397ce8177ac91dfa4bbeedd_Mask%20group%20(24)-p-1080.webp 1080w,
                        https://assets.website-files.com/6331f18a8af6845b0f127c61/6397ce8177ac91dfa4bbeedd_Mask%20group%20(24)-p-1600.webp 1600w,
                        https://assets.website-files.com/6331f18a8af6845b0f127c61/6397ce8177ac91dfa4bbeedd_Mask%20group%20(24).webp        2242w
                      "
                      sizes="(max-width: 767px) 93vw, (max-width: 991px) 42vw, (max-width: 1439px) 40vw, 449px"
                      class="image-63"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="left-arrow w-slider-arrow-left">
            <div class="w-embed">
              <svg
                width="25"
                height="25"
                viewBox="0 0 25 25"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M17.2071 5.35603C17.5976 4.96551 17.5976 4.33234 17.2071 3.94182C16.8166 3.55129 16.1834 3.55129 15.7929 3.94182L17.2071 5.35603ZM8.5 12.6489L7.79289 11.9418C7.40237 12.3323 7.40237 12.9655 7.79289 13.356L8.5 12.6489ZM15.7929 21.356C16.1834 21.7466 16.8166 21.7466 17.2071 21.356C17.5976 20.9655 17.5976 20.3323 17.2071 19.9418L15.7929 21.356ZM15.7929 3.94182L7.79289 11.9418L9.20711 13.356L17.2071 5.35603L15.7929 3.94182ZM7.79289 13.356L15.7929 21.356L17.2071 19.9418L9.20711 11.9418L7.79289 13.356Z"
                  fill="#13133D"
                />
              </svg>
            </div>
          </div>
          <div class="right-arrow w-slider-arrow-right">
            <div class="w-embed">
              <svg
                width="25"
                height="25"
                viewBox="0 0 25 25"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M9.20711 3.94182C8.81658 3.55129 8.18342 3.55129 7.79289 3.94182C7.40237 4.33234 7.40237 4.96551 7.79289 5.35603L9.20711 3.94182ZM16.5 12.6489L17.2071 13.356C17.5976 12.9655 17.5976 12.3323 17.2071 11.9418L16.5 12.6489ZM7.79289 19.9418C7.40237 20.3323 7.40237 20.9655 7.79289 21.356C8.18342 21.7466 8.81658 21.7466 9.20711 21.356L7.79289 19.9418ZM7.79289 5.35603L15.7929 13.356L17.2071 11.9418L9.20711 3.94182L7.79289 5.35603ZM15.7929 11.9418L7.79289 19.9418L9.20711 21.356L17.2071 13.356L15.7929 11.9418Z"
                  fill="#13133D"
                />
              </svg>
            </div>
          </div>
          <div
            class="slide-nav careers-slide-nav w-slider-nav w-round"
          ></div>
        </div>
      </div>
    </div>
  </div>
</section>
<section
  data-w-id="3461a478-8628-4fcb-4a67-524678b47f2d"
  class="section-healthcare section-healthcare-careers wf-section"
>
  <div class="landing-page-container">
    <div class="section-healthcare-content">
      <div class="div-block-75">
        <p class="text-block-55 section-eyebrow">WHAT SETS US APART</p>
        <h2 class="section-healthcare-heading">
          Re-imagining how we deliver healthcare to pets.
        </h2>
        <p class="text-block-80">
          Pawp leads the pack when it comes to useful and on-brand perks. We
          strive to maintain a culture of curiosity, innovation,
          collaboration, and creative freedom.
        </p>
      </div>
      <div class="section-healthcare-icon-text-container">
        <div class="section-healthcare-icon-text-block">
          <img
            src="https://assets.website-files.com/6331f18a8af6845b0f127c61/6392542d34bd8606528c47af_Medical%20Dental%20Vision.png"
            loading="lazy"
            alt="medical dental vision graphic"
            class="section-healthcare-icon-text-block-icon"
          />
          <p class="text-block-50">
            100% medical, dental &amp; vision coverage
          </p>
        </div>
        <div class="section-healthcare-icon-text-block">
          <img
            src="https://assets.website-files.com/6331f18a8af6845b0f127c61/63925430323abbf44a056ceb_Parental%20Leave.png"
            loading="lazy"
            alt="pacifier graphic"
            class="section-healthcare-icon-text-block-icon"
          />
          <p class="text-block-50">Paid parental &amp; family leave plan</p>
        </div>
        <div class="section-healthcare-icon-text-block">
          <img
            src="https://assets.website-files.com/6331f18a8af6845b0f127c61/6392542dd062527cae574e43_Compensation.png"
            loading="lazy"
            alt="paycheck in open envelope graphic"
            class="section-healthcare-icon-text-block-icon"
          />
          <p class="text-block-50">Competitive compensation &amp; equity</p>
        </div>
        <div class="section-healthcare-icon-text-block">
          <img
            src="https://assets.website-files.com/6331f18a8af6845b0f127c61/6392542d9b339b71cc11f174_401K.png"
            loading="lazy"
            alt="cat piggybank graphic"
            class="section-healthcare-icon-text-block-icon"
          />
          <p class="text-block-50">Pawp pet benefits &amp;401(k) plan</p>
        </div>
        <div class="section-healthcare-icon-text-block">
          <img
            src="https://assets.website-files.com/6331f18a8af6845b0f127c61/6392542df29497b36b0a2681_Unlimited%20PTO.png"
            loading="lazy"
            alt="plane on calendar and clock graphic"
            class="section-healthcare-icon-text-block-icon"
          />
          <p class="text-block-50">
            Unlimited &amp; flexible paid time off
          </p>
        </div>
        <div class="section-healthcare-icon-text-block">
          <img
            src="https://assets.website-files.com/6331f18a8af6845b0f127c61/6392542dbcba5615b37667ae_Remote%20Work.png"
            loading="lazy"
            alt="man on laptop graphic"
            class="section-healthcare-icon-text-block-icon"
          />
          <p class="text-block-50">
            Remote, on-site &amp; hybrid opportunities
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-pets-you-will-meet wf-section">
  <div class="section-pets-you-will-meet-content">
    <h2 class="heading-14">
      The pets you’ll meet in the office (or on Zoom):
    </h2>
    <div class="section-pets-you-will-meet-cards-wrapper">
      <div class="pet-card first-pet-card">
        <img
          src="https://assets.website-files.com/6331f18a8af6845b0f127c61/639373f229edcb55d9cd3a0d_Mask%20group.webp"
          loading="lazy"
          sizes="100vw"
          srcset="
            https://assets.website-files.com/6331f18a8af6845b0f127c61/639373f229edcb55d9cd3a0d_Mask%20group-p-500.webp   500w,
            https://assets.website-files.com/6331f18a8af6845b0f127c61/639373f229edcb55d9cd3a0d_Mask%20group-p-800.webp   800w,
            https://assets.website-files.com/6331f18a8af6845b0f127c61/639373f229edcb55d9cd3a0d_Mask%20group-p-1080.webp 1080w,
            https://assets.website-files.com/6331f18a8af6845b0f127c61/639373f229edcb55d9cd3a0d_Mask%20group.webp        1152w
          "
          alt="Fluff the dog"
        />
        <div class="pet-card-text">Fluf, 6 years old</div>
      </div>
      <div class="pet-card">
        <img
          src="https://assets.website-files.com/6331f18a8af6845b0f127c61/639373f17f40a65db30ea984_Mask%20group-1.webp"
          loading="lazy"
          sizes="100vw"
          srcset="
            https://assets.website-files.com/6331f18a8af6845b0f127c61/639373f17f40a65db30ea984_Mask%20group-1-p-500.webp   500w,
            https://assets.website-files.com/6331f18a8af6845b0f127c61/639373f17f40a65db30ea984_Mask%20group-1-p-800.webp   800w,
            https://assets.website-files.com/6331f18a8af6845b0f127c61/639373f17f40a65db30ea984_Mask%20group-1-p-1080.webp 1080w,
            https://assets.website-files.com/6331f18a8af6845b0f127c61/639373f17f40a65db30ea984_Mask%20group-1.webp        1152w
          "
          alt="Paul the cat"
        />
        <div class="pet-card-text">Paul, 7 years old</div>
      </div>
      <div class="pet-card">
        <img
          src="https://assets.website-files.com/6331f18a8af6845b0f127c61/639373f293ab7527eb2cf766_Mask%20group-2.webp"
          loading="lazy"
          sizes="100vw"
          srcset="
            https://assets.website-files.com/6331f18a8af6845b0f127c61/639373f293ab7527eb2cf766_Mask%20group-2-p-500.webp  500w,
            https://assets.website-files.com/6331f18a8af6845b0f127c61/639373f293ab7527eb2cf766_Mask%20group-2-p-800.webp  800w,
            https://assets.website-files.com/6331f18a8af6845b0f127c61/639373f293ab7527eb2cf766_Mask%20group-2.webp       1152w
          "
          alt="Penny the dog"
        />
        <div class="pet-card-text">Penny, 3 years old</div>
      </div>
      <div class="pet-card">
        <img
          src="https://assets.website-files.com/6331f18a8af6845b0f127c61/639373f234893c7c7a863f2e_Mask%20group-3.webp"
          loading="lazy"
          sizes="100vw"
          srcset="
            https://assets.website-files.com/6331f18a8af6845b0f127c61/639373f234893c7c7a863f2e_Mask%20group-3-p-500.webp   500w,
            https://assets.website-files.com/6331f18a8af6845b0f127c61/639373f234893c7c7a863f2e_Mask%20group-3-p-800.webp   800w,
            https://assets.website-files.com/6331f18a8af6845b0f127c61/639373f234893c7c7a863f2e_Mask%20group-3-p-1080.webp 1080w,
            https://assets.website-files.com/6331f18a8af6845b0f127c61/639373f234893c7c7a863f2e_Mask%20group-3.webp        1152w
          "
          alt="Jasper the cat"
        />
        <div class="pet-card-text">Jasper, 6 months old</div>
      </div>
      <div class="pet-card">
        <img
          src="https://assets.website-files.com/6331f18a8af6845b0f127c61/639373f23b8fcd0e3c2a43d4_Mask%20group-4.webp"
          loading="lazy"
          sizes="100vw"
          srcset="
            https://assets.website-files.com/6331f18a8af6845b0f127c61/639373f23b8fcd0e3c2a43d4_Mask%20group-4-p-500.webp   500w,
            https://assets.website-files.com/6331f18a8af6845b0f127c61/639373f23b8fcd0e3c2a43d4_Mask%20group-4-p-800.webp   800w,
            https://assets.website-files.com/6331f18a8af6845b0f127c61/639373f23b8fcd0e3c2a43d4_Mask%20group-4-p-1080.webp 1080w,
            https://assets.website-files.com/6331f18a8af6845b0f127c61/639373f23b8fcd0e3c2a43d4_Mask%20group-4.webp        1152w
          "
          alt="Gus the dog"
        />
        <div class="pet-card-text">Gus, 6 months old</div>
      </div>
      <div class="pet-card">
        <img
          src="https://assets.website-files.com/6331f18a8af6845b0f127c61/639373f17e4fb3382cd7f667_Mask%20group-5.webp"
          loading="lazy"
          sizes="100vw"
          srcset="
            https://assets.website-files.com/6331f18a8af6845b0f127c61/639373f17e4fb3382cd7f667_Mask%20group-5-p-500.webp  500w,
            https://assets.website-files.com/6331f18a8af6845b0f127c61/639373f17e4fb3382cd7f667_Mask%20group-5-p-800.webp  800w,
            https://assets.website-files.com/6331f18a8af6845b0f127c61/639373f17e4fb3382cd7f667_Mask%20group-5.webp       1152w
          "
          alt="Jora the dog"
        />
        <div class="pet-card-text">Jora, 1 year old</div>
      </div>
      <div class="pet-card">
        <img
          src="https://assets.website-files.com/6331f18a8af6845b0f127c61/63937439aa24d231ea65a467_Mask%20group-6.webp"
          loading="lazy"
          sizes="100vw"
          srcset="
            https://assets.website-files.com/6331f18a8af6845b0f127c61/63937439aa24d231ea65a467_Mask%20group-6-p-500.webp  500w,
            https://assets.website-files.com/6331f18a8af6845b0f127c61/63937439aa24d231ea65a467_Mask%20group-6-p-800.webp  800w,
            https://assets.website-files.com/6331f18a8af6845b0f127c61/63937439aa24d231ea65a467_Mask%20group-6.webp       1152w
          "
          alt="Henry the dog"
        />
        <div class="pet-card-text">Henry, 1 year old</div>
      </div>
      <div class="pet-card">
        <img
          src="https://assets.website-files.com/6331f18a8af6845b0f127c61/639373f2ea0277e15d722ced_Mask%20group-7.webp"
          loading="lazy"
          sizes="100vw"
          srcset="
            https://assets.website-files.com/6331f18a8af6845b0f127c61/639373f2ea0277e15d722ced_Mask%20group-7-p-500.webp   500w,
            https://assets.website-files.com/6331f18a8af6845b0f127c61/639373f2ea0277e15d722ced_Mask%20group-7-p-800.webp   800w,
            https://assets.website-files.com/6331f18a8af6845b0f127c61/639373f2ea0277e15d722ced_Mask%20group-7-p-1080.webp 1080w,
            https://assets.website-files.com/6331f18a8af6845b0f127c61/639373f2ea0277e15d722ced_Mask%20group-7.webp        1152w
          "
          alt="Shai the cat"
        />
        <div class="pet-card-text">Shai, 9 years old</div>
      </div>
      <div class="pet-card last-pet-card">
        <img
          src="https://assets.website-files.com/6331f18a8af6845b0f127c61/639373f24891cf32a99fae95_Mask%20group-8.webp"
          loading="lazy"
          sizes="100vw"
          srcset="
            https://assets.website-files.com/6331f18a8af6845b0f127c61/639373f24891cf32a99fae95_Mask%20group-8-p-500.webp   500w,
            https://assets.website-files.com/6331f18a8af6845b0f127c61/639373f24891cf32a99fae95_Mask%20group-8-p-800.webp   800w,
            https://assets.website-files.com/6331f18a8af6845b0f127c61/639373f24891cf32a99fae95_Mask%20group-8-p-1080.webp 1080w,
            https://assets.website-files.com/6331f18a8af6845b0f127c61/639373f24891cf32a99fae95_Mask%20group-8.webp        1152w
          "
          alt="Baloo the cat"
        />
        <div class="pet-card-text">Baloo, 2 years old</div>
      </div>
    </div>
  </div>
</section>
<div id="roles" class="open-roles-scroll-reference-block"></div>
<section id="open-roles" class="section-open-roles wf-section">
  <div class="landing-page-container">
    <div class="section-open-roles-content">
      <div class="section-open-roles-top-text-wrapper">
        <h2 class="heading-15">Open Roles</h2>
        <div class="text-block-73">
          Check out our open roles to see if there’s one that’s right for
          you.
        </div>
      </div>
      <div class="section-open-roles-bottom-content">
        <div id="grnhse_app" class="div-block-79"></div>
      </div>
    </div>
  </div>
</section>


{% endblock body %}