{% extends 'accounts/base.html' %} {% block body %}

<div class="section-download-app-qr wf-section">
  <div class="landing-page-container">
    <div class="section-download-app-qr-content">
      <div class="section-download-app-qr-image-wrapper">
        <img
          src="https://assets.website-files.com/6331f18a8af6845b0f127c61/63a1feecc3e6c96b7584795b_Group%20427319736.png"
          loading="lazy"
          sizes="(max-width: 479px) 0px, 100vw"
          srcset="
            https://assets.website-files.com/6331f18a8af6845b0f127c61/63a1feecc3e6c96b7584795b_Group%20427319736-p-500.png   500w,
            https://assets.website-files.com/6331f18a8af6845b0f127c61/63a1feecc3e6c96b7584795b_Group%20427319736-p-800.png   800w,
            https://assets.website-files.com/6331f18a8af6845b0f127c61/63a1feecc3e6c96b7584795b_Group%20427319736-p-1080.png 1080w,
            https://assets.website-files.com/6331f18a8af6845b0f127c61/63a1feecc3e6c96b7584795b_Group%20427319736-p-1600.png 1600w,
            https://assets.website-files.com/6331f18a8af6845b0f127c61/63a1feecc3e6c96b7584795b_Group%20427319736-p-2000.png 2000w,
            https://assets.website-files.com/6331f18a8af6845b0f127c61/63a1feecc3e6c96b7584795b_Group%20427319736-p-2600.png 2600w,
            https://assets.website-files.com/6331f18a8af6845b0f127c61/63a1feecc3e6c96b7584795b_Group%20427319736.png        2667w
          "
          alt=""
        />
      </div>
      <div class="section-download-app-qr-text-wrapper">
        <p class="paragraph-15">HOW TO ACCESS</p>
        <h1 class="heading-30">
          Get the app to start your pet&#x27;s care journey.
        </h1>
        <p class="paragraph-16">
          You can try Pawp for <strong>1 month free </strong>when you download
          the app and get access to a 24/7 team of veterinary professionals who
          are on your side.
        </p>
      </div>
      <div class="section-download-app-qr-badges-wrapper">
        <div id="qr-container" class="div-block-86">
          <div class="div-block-85">
            <img
              src="https://assets.website-files.com/plugins/Basic/assets/placeholder.60f9b1840c.svg"
              loading="lazy"
              id="qr-image"
              alt=""
            />
          </div>
          <div><p class="paragraph-17">Scan Me</p></div>
        </div>
        <a
          data-track-click-property-screen="download_app"
          aria-label="Download ios app"
          data-track-click="true"
          data-track-click-name="App Download Selected"
          data-track-click-property-app="ios"
          data-track-click-property-location="hero"
          href="https://link.pawp.com/9SSD?af_web_dp=https://apps.apple.com/us/app/pawp-24-7-vet-pet-care/id1594794194"
          class="link-block-10 apple-app-store-badge-link-qr-app-page w-inline-block"
          ><img
            src="https://assets.website-files.com/6331f18a8af6845b0f127c61/6397c137a252b28d20b65556_apple_badge%20(1).png"
            loading="lazy"
            height="44"
            width="147"
            srcset="
              https://assets.website-files.com/6331f18a8af6845b0f127c61/6397c137a252b28d20b65556_apple_badge%20(1)-p-500.png   500w,
              https://assets.website-files.com/6331f18a8af6845b0f127c61/6397c137a252b28d20b65556_apple_badge%20(1)-p-800.png   800w,
              https://assets.website-files.com/6331f18a8af6845b0f127c61/6397c137a252b28d20b65556_apple_badge%20(1)-p-1080.png 1080w,
              https://assets.website-files.com/6331f18a8af6845b0f127c61/6397c137a252b28d20b65556_apple_badge%20(1)-p-1600.png 1600w,
              https://assets.website-files.com/6331f18a8af6845b0f127c61/6397c137a252b28d20b65556_apple_badge%20(1)-p-2000.png 2000w,
              https://assets.website-files.com/6331f18a8af6845b0f127c61/6397c137a252b28d20b65556_apple_badge%20(1)-p-2600.png 2600w,
              https://assets.website-files.com/6331f18a8af6845b0f127c61/6397c137a252b28d20b65556_apple_badge%20(1)-p-3200.png 3200w
            "
            sizes="147px"
            alt="Download on the App Store"
            class="image-59" /></a
        ><a
          data-track-click-property-screen="download_app"
          aria-label="Download android app"
          data-track-click="true"
          data-track-click-name="App Download Selected"
          data-track-click-property-app="android"
          data-track-click-property-location="hero"
          href="https://link.pawp.com/9SSD?af_web_dp=https://play.google.com/store/apps/details?id=com.pawp.android&amp;hl=en_US&amp;gl=US"
          class="link-block-21 google-app-store-badge-link-qr-app-page w-inline-block"
          ><img
            src="https://assets.website-files.com/6331f18a8af6845b0f127c61/6397c137a252b20d03b65555_google_badge%20(2).png"
            loading="lazy"
            height="44"
            width="147"
            srcset="
              https://assets.website-files.com/6331f18a8af6845b0f127c61/6397c137a252b20d03b65555_google_badge%20(2)-p-500.png   500w,
              https://assets.website-files.com/6331f18a8af6845b0f127c61/6397c137a252b20d03b65555_google_badge%20(2)-p-800.png   800w,
              https://assets.website-files.com/6331f18a8af6845b0f127c61/6397c137a252b20d03b65555_google_badge%20(2)-p-1080.png 1080w,
              https://assets.website-files.com/6331f18a8af6845b0f127c61/6397c137a252b20d03b65555_google_badge%20(2)-p-1600.png 1600w,
              https://assets.website-files.com/6331f18a8af6845b0f127c61/6397c137a252b20d03b65555_google_badge%20(2)-p-2000.png 2000w,
              https://assets.website-files.com/6331f18a8af6845b0f127c61/6397c137a252b20d03b65555_google_badge%20(2)-p-2600.png 2600w,
              https://assets.website-files.com/6331f18a8af6845b0f127c61/6397c137a252b20d03b65555_google_badge%20(2)-p-3200.png 3200w
            "
            sizes="147px"
            alt="Get it on Google Play"
            class="image-60"
        /></a>
      </div>
    </div>
  </div>
</div>

{% endblock body %}
