{% extends 'accounts/base.html' %} 
{% block body %}


    <section class="section-how-it-works-page-header wf-section">
      <div class="landing-page-container">
        <div class="how-it-works-page-header-content">
          <div class="how-it-works-page-header-left-content">
            <h1 class="heading-17">
              Ongoing care that changes your pet’s life.
            </h1>
            <p class="text-block-74">
              Comprehensive healthcare takes more than one in-person vet visit a
              year. Pawp fills in the gaps of your pet's care so you can rest
              assured you're doing everything to give your pet the life they
              deserve. <strong>Try 1 month free.</strong>
            </p>
            <div class="div-block-73 how-it-works-cta-wrapper">
              <a
                id="unauthed-header-button"
                data-track-click="true"
                data-track-click-name="CTA Selected"
                data-track-click-property-location="hero"
                data-track-click-property-screen="how-it-works-landing"
                data-track-click-property-cta_text="Try The App For Free"
                href="/download-app/"
                class="button button-size-large button-variant-iris button-full-width home-page-header-button unauthed-state w-button"
                style="display: block"
                >Try The App For Free</a
              ><a
                id="authed-header-button"
                data-track-click="true"
                data-track-click-name="CTA Selected"
                data-track-click-property-location="hero"
                data-track-click-property-screen="how-it-works-landing"
                data-track-click-property-cta_text="how-it-works"
                href="/app/dashboard/"
                class="button button-size-large button-variant-iris button-full-width home-page-header-button authed-state w-button"
                style="display: none"
                >Pawp Home</a
              >
            </div>
            <div class="div-block-36">
              <a
                data-track-click-property-screen="how-it-works-landing"
                aria-label="Download ios app"
                data-track-click="true"
                data-track-click-name="App Download Selected"
                data-track-click-property-app="ios"
                data-track-click-property-location="hero"
                href="https://link.pawp.com/9SSD?af_web_dp=https%3A%2F%2Fapps.apple.com%2Fus%2Fapp%2Fpawp-24-7-vet-pet-care%2Fid1594794194&amp;initial_interaction=homepage"
                class="link-block-10 w-inline-block"
                ><img
                  src="https://assets.website-files.com/6331f18a8af6845b0f127c61/6397f4c74df072eb97be3338_apple.webp"
                  loading="lazy"
                  width="147"
                  height="44"
                  srcset="
                    https://assets.website-files.com/6331f18a8af6845b0f127c61/6397f4c74df072eb97be3338_apple-p-500.webp   500w,
                    https://assets.website-files.com/6331f18a8af6845b0f127c61/6397f4c74df072eb97be3338_apple-p-800.webp   800w,
                    https://assets.website-files.com/6331f18a8af6845b0f127c61/6397f4c74df072eb97be3338_apple-p-1080.webp 1080w,
                    https://assets.website-files.com/6331f18a8af6845b0f127c61/6397f4c74df072eb97be3338_apple.webp        1522w
                  "
                  sizes="147px"
                  alt="Download on the App Store"
                  class="image-59" /></a
              ><a
                data-track-click-property-screen="how-it-works-landing"
                aria-label="Download android app"
                data-track-click="true"
                data-track-click-name="App Download Selected"
                data-track-click-property-app="android"
                data-track-click-property-location="hero"
                href="https://link.pawp.com/9SSD?af_web_dp=https%3A%2F%2Fplay.google.com%2Fstore%2Fapps%2Fdetails%3Fid%3Dcom.pawp.android&amp;hl=en_US&amp;gl=US&amp;initial_interaction=homepage"
                class="link-block-21 w-inline-block"
                ><img
                  src="https://assets.website-files.com/6331f18a8af6845b0f127c61/6397f4c7bf0f8b869dc3266f_google-play.webp"
                  loading="lazy"
                  height="44"
                  width="147"
                  srcset="
                    https://assets.website-files.com/6331f18a8af6845b0f127c61/6397f4c7bf0f8b869dc3266f_google-play-p-500.webp   500w,
                    https://assets.website-files.com/6331f18a8af6845b0f127c61/6397f4c7bf0f8b869dc3266f_google-play-p-800.webp   800w,
                    https://assets.website-files.com/6331f18a8af6845b0f127c61/6397f4c7bf0f8b869dc3266f_google-play-p-1080.webp 1080w,
                    https://assets.website-files.com/6331f18a8af6845b0f127c61/6397f4c7bf0f8b869dc3266f_google-play.webp        1522w
                  "
                  sizes="147px"
                  alt="Get it on Google Play"
                  class="image-60"
              /></a>
            </div>
          </div>
          <div class="how-it-works-page-header-right-content">
            <div class="how-it-works-header-image-wrapper">
              <img
                src="https://assets.website-files.com/6331f18a8af6845b0f127c61/6390c98d7d5e6c44f6c2cec4_Her0.png"
                loading="lazy"
                width="609"
                height="645"
                alt="vet holding kitten on shoulder and petting dog on floor"
                srcset="
                  https://assets.website-files.com/6331f18a8af6845b0f127c61/6390c98d7d5e6c44f6c2cec4_Her0-p-500.png   500w,
                  https://assets.website-files.com/6331f18a8af6845b0f127c61/6390c98d7d5e6c44f6c2cec4_Her0-p-800.png   800w,
                  https://assets.website-files.com/6331f18a8af6845b0f127c61/6390c98d7d5e6c44f6c2cec4_Her0-p-1080.png 1080w,
                  https://assets.website-files.com/6331f18a8af6845b0f127c61/6390c98d7d5e6c44f6c2cec4_Her0-p-1600.png 1600w,
                  https://assets.website-files.com/6331f18a8af6845b0f127c61/6390c98d7d5e6c44f6c2cec4_Her0.png        1669w
                "
                sizes="(max-width: 479px) 100vw, (max-width: 767px) 93vw, (max-width: 991px) 43vw, (max-width: 1439px) 42vw, 609px"
                class="image-89"
              />
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section-who-we-are wf-section">
      <div class="landing-page-container">
        <div class="section-who-we-are-content">
          <p class="section-who-we-are-eyebrow section-eyebrow">
            WHY&nbsp;IT&nbsp;WORKS
          </p>
          <h2 class="heading-24">
            Pawp’s pioneering continuous care model puts the focus on 360° whole
            pet health for better long-term outcomes.
          </h2>
          <div class="section-who-we-are-tiles-wrapper">
            <div class="section-who-we-are-tile">
              <div>
                <img
                  src="https://assets.website-files.com/6331f18a8af6845b0f127c61/63989e08768044311b0b5369_Group%20427319760%20(3).webp"
                  loading="lazy"
                  height="326"
                  alt="human lying next to dog and holding its ear"
                  width="400"
                  srcset="
                    https://assets.website-files.com/6331f18a8af6845b0f127c61/63989e08768044311b0b5369_Group%20427319760%20(3)-p-500.webp   500w,
                    https://assets.website-files.com/6331f18a8af6845b0f127c61/63989e08768044311b0b5369_Group%20427319760%20(3)-p-800.webp   800w,
                    https://assets.website-files.com/6331f18a8af6845b0f127c61/63989e08768044311b0b5369_Group%20427319760%20(3)-p-1080.webp 1080w,
                    https://assets.website-files.com/6331f18a8af6845b0f127c61/63989e08768044311b0b5369_Group%20427319760%20(3).webp        1620w
                  "
                  sizes="(max-width: 479px) 100vw, (max-width: 767px) 400px, (max-width: 991px) 28vw, (max-width: 1439px) 26vw, 305px"
                  class="section-who-we-are-tile-image"
                />
              </div>
              <div class="section-who-we-are-tile-text-wrapper">
                <h3 class="section-who-we-are-tile-title">When they're sick</h3>
                <p class="section-who-we-are-tile-description">
                  Our 24/7 care team is available in under 1 minute, so you’re
                  never alone if something goes wrong.
                </p>
              </div>
            </div>
            <div class="section-who-we-are-tile">
              <div>
                <img
                  src="https://assets.website-files.com/6331f18a8af6845b0f127c61/63989e0886b13648961b4162_Group%20427319758%20(1).webp"
                  loading="lazy"
                  height="326"
                  alt="dog smiling sitting on couch"
                  width="400"
                  srcset="
                    https://assets.website-files.com/6331f18a8af6845b0f127c61/63989e0886b13648961b4162_Group%20427319758%20(1)-p-500.webp   500w,
                    https://assets.website-files.com/6331f18a8af6845b0f127c61/63989e0886b13648961b4162_Group%20427319758%20(1)-p-800.webp   800w,
                    https://assets.website-files.com/6331f18a8af6845b0f127c61/63989e0886b13648961b4162_Group%20427319758%20(1)-p-1080.webp 1080w,
                    https://assets.website-files.com/6331f18a8af6845b0f127c61/63989e0886b13648961b4162_Group%20427319758%20(1).webp        1620w
                  "
                  sizes="(max-width: 479px) 100vw, (max-width: 767px) 400px, (max-width: 991px) 28vw, (max-width: 1439px) 26vw, 305px"
                  class="section-who-we-are-tile-image"
                />
              </div>
              <div class="section-who-we-are-tile-text-wrapper">
                <h3 class="section-who-we-are-tile-title">
                  When they're healthy
                </h3>
                <p class="section-who-we-are-tile-description">
                  Unlimited visits mean you can put down Google and get
                  professional medical advice personalized for your pet.
                </p>
              </div>
            </div>
            <div class="section-who-we-are-tile">
              <div>
                <img
                  src="https://assets.website-files.com/6331f18a8af6845b0f127c61/63989e083c019a0096f88f0a_Group%20427319759%20(1).webp"
                  loading="lazy"
                  width="400"
                  height="326"
                  alt="human putting their face on their dog's face"
                  srcset="
                    https://assets.website-files.com/6331f18a8af6845b0f127c61/63989e083c019a0096f88f0a_Group%20427319759%20(1)-p-500.webp   500w,
                    https://assets.website-files.com/6331f18a8af6845b0f127c61/63989e083c019a0096f88f0a_Group%20427319759%20(1)-p-800.webp   800w,
                    https://assets.website-files.com/6331f18a8af6845b0f127c61/63989e083c019a0096f88f0a_Group%20427319759%20(1)-p-1080.webp 1080w,
                    https://assets.website-files.com/6331f18a8af6845b0f127c61/63989e083c019a0096f88f0a_Group%20427319759%20(1).webp        1620w
                  "
                  sizes="(max-width: 479px) 100vw, (max-width: 767px) 400px, (max-width: 991px) 28vw, (max-width: 1439px) 26vw, 305px"
                  class="section-who-we-are-tile-image"
                />
              </div>
              <div class="section-who-we-are-tile-text-wrapper">
                <h3 class="section-who-we-are-tile-title">
                  When they're in-between
                </h3>
                <p class="section-who-we-are-tile-description">
                  With comprehensive care plans, you get ongoing expert guidance
                  to improve your pet’s health.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section
      data-w-id="23d5807b-071f-735a-2248-babbbeed4e1e"
      class="section-pet-parent wf-section"
    >
      <div class="landing-page-container">
        <div class="section-pet-parent-content">
          <div class="section-pet-parent-content-top-text-wrapper">
            <p class="text-block-56 section-eyebrow">HOW&nbsp;IT&nbsp;WORKS</p>
            <h2 class="heading-20">
              Your pet is unique and their care should be too.
            </h2>
            <p class="text-block-58">
              Pawp's medical team works with you to identify your pet's
              immediate needs as well as their long-term goals in order to
              provide ongoing care that's personalized, actionable, and
              effective.
            </p>
          </div>
          <div class="section-better-pet-parent-content-bottom-content">
            <div class="section-better-pet-parent-content-bottom-left-content">
              <ol role="list" class="w-list-unstyled">
                <li class="accordion-list-item">
                  <div><div class="text-block-61">01</div></div>
                  <div
                    data-hover="false"
                    data-delay="0"
                    data-w-id="548c3fb3-c9d3-7342-7369-6f50447774d7"
                    class="dropdown-2 w-dropdown"
                  >
                    <div
                      id="pet-parent-accordion-one"
                      class="dropdown-toggle-4 w-dropdown-toggle"
                      aria-controls="w-dropdown-list-4"
                      aria-haspopup="menu"
                      aria-expanded="false"
                      role="button"
                      tabindex="0"
                    >
                      <div class="text-block-60 no-pointer-event">
                        Tell us about your pet's needs
                      </div>
                      <div class="div-block-77">
                        <div class="html-embed-2 w-embed">
                          <svg
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M20.6047 11.5C20.6047 16.1944 16.8876 20 12.3023 20C7.71708 20 4 16.1944 4 11.5C4 6.80558 7.71708 3 12.3023 3C16.8876 3 20.6047 6.80558 20.6047 11.5Z"
                              stroke="#9791C1"
                              stroke-width="1.5"
                            ></path>
                            <path
                              d="M17.4497 11.5C17.4497 11.5 14.433 11.5 12.5 11.5C10.567 11.5 7.55025 11.5 7.55025 11.5"
                              stroke="#9791C1"
                              stroke-width="1.5"
                              stroke-linecap="round"
                            ></path>
                          </svg>
                        </div>
                        <div style="opacity: 1" class="html-embed-3 w-embed">
                          <svg
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M20.6047 11.5C20.6047 16.1944 16.8876 20 12.3023 20C7.71708 20 4 16.1944 4 11.5C4 6.80558 7.71708 3 12.3023 3C16.8876 3 20.6047 6.80558 20.6047 11.5Z"
                              stroke="#9791C1"
                              stroke-width="1.5"
                            ></path>
                            <path
                              d="M12.5 6.55028V11.5M12.5 11.5V16.4498M12.5 11.5L17.4498 11.5M12.5 11.5H7.5503"
                              stroke="#9791C1"
                              stroke-width="1.5"
                              stroke-linecap="round"
                            ></path>
                          </svg>
                        </div>
                      </div>
                    </div>
                    <nav
                      style="height: 0px"
                      class="dropdown-list-4 w-dropdown-list"
                      id="w-dropdown-list-4"
                      aria-labelledby="pet-parent-accordion-one"
                    >
                      <div
                        id="pet-parent-image-one"
                        class="section-better-pet-parent-image"
                      >
                        <img
                          src="https://assets.website-files.com/6331f18a8af6845b0f127c61/6398fac22290ac9a0b08048f_image%20(1).png"
                          loading="lazy"
                          width="640"
                          height="576"
                          srcset="
                            https://assets.website-files.com/6331f18a8af6845b0f127c61/6398fac22290ac9a0b08048f_image%20(1)-p-500.png   500w,
                            https://assets.website-files.com/6331f18a8af6845b0f127c61/6398fac22290ac9a0b08048f_image%20(1)-p-800.png   800w,
                            https://assets.website-files.com/6331f18a8af6845b0f127c61/6398fac22290ac9a0b08048f_image%20(1)-p-1080.png 1080w,
                            https://assets.website-files.com/6331f18a8af6845b0f127c61/6398fac22290ac9a0b08048f_image%20(1).png        1158w
                          "
                          sizes="(max-width: 479px) 100vw, (max-width: 767px) 76vw, (max-width: 991px) 80vw, (max-width: 1439px) 40vw, 576px"
                          alt="Pawp app on cell phone with pet profile section"
                          class="image-90"
                        />
                      </div>
                      <div class="text-block-59">
                        Add relevant details about your pet to build their
                        profile. Then have your first visit to discuss your
                        pet's short- and long-term health goals.
                      </div>
                    </nav>
                  </div>
                </li>
                <li class="accordion-list-item">
                  <div><div class="text-block-61">02</div></div>
                  <div
                    data-hover="false"
                    data-delay="0"
                    data-w-id="893754a2-31a2-f703-d4d3-abf6b211d1dd"
                    class="dropdown-2 w-dropdown"
                  >
                    <div
                      id="pet-parent-accordion-two"
                      class="dropdown-toggle-4 w-dropdown-toggle"
                      aria-controls="w-dropdown-list-5"
                      aria-haspopup="menu"
                      aria-expanded="false"
                      role="button"
                      tabindex="0"
                    >
                      <div class="text-block-60 no-pointer-event">
                        Receive a personalized care plan
                      </div>
                      <div class="div-block-77">
                        <div class="html-embed-2 w-embed">
                          <svg
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M20.6047 11.5C20.6047 16.1944 16.8876 20 12.3023 20C7.71708 20 4 16.1944 4 11.5C4 6.80558 7.71708 3 12.3023 3C16.8876 3 20.6047 6.80558 20.6047 11.5Z"
                              stroke="#9791C1"
                              stroke-width="1.5"
                            ></path>
                            <path
                              d="M17.4497 11.5C17.4497 11.5 14.433 11.5 12.5 11.5C10.567 11.5 7.55025 11.5 7.55025 11.5"
                              stroke="#9791C1"
                              stroke-width="1.5"
                              stroke-linecap="round"
                            ></path>
                          </svg>
                        </div>
                        <div style="opacity: 1" class="html-embed-3 w-embed">
                          <svg
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M20.6047 11.5C20.6047 16.1944 16.8876 20 12.3023 20C7.71708 20 4 16.1944 4 11.5C4 6.80558 7.71708 3 12.3023 3C16.8876 3 20.6047 6.80558 20.6047 11.5Z"
                              stroke="#9791C1"
                              stroke-width="1.5"
                            ></path>
                            <path
                              d="M12.5 6.55028V11.5M12.5 11.5V16.4498M12.5 11.5L17.4498 11.5M12.5 11.5H7.5503"
                              stroke="#9791C1"
                              stroke-width="1.5"
                              stroke-linecap="round"
                            ></path>
                          </svg>
                        </div>
                      </div>
                    </div>
                    <nav
                      style="height: 0px"
                      class="dropdown-list-4 w-dropdown-list"
                      id="w-dropdown-list-5"
                      aria-labelledby="pet-parent-accordion-two"
                    >
                      <div
                        id="pet-parent-image-two"
                        class="section-better-pet-parent-image display-none"
                      >
                        <img
                          src="https://assets.website-files.com/6331f18a8af6845b0f127c61/6397cb6ec1a346107111e60a_how-it-works-2%20(1).png"
                          loading="lazy"
                          height="576"
                          width="640"
                          srcset="
                            https://assets.website-files.com/6331f18a8af6845b0f127c61/6397cb6ec1a346107111e60a_how-it-works-2%20(1)-p-500.png   500w,
                            https://assets.website-files.com/6331f18a8af6845b0f127c61/6397cb6ec1a346107111e60a_how-it-works-2%20(1)-p-800.png   800w,
                            https://assets.website-files.com/6331f18a8af6845b0f127c61/6397cb6ec1a346107111e60a_how-it-works-2%20(1)-p-1080.png 1080w,
                            https://assets.website-files.com/6331f18a8af6845b0f127c61/6397cb6ec1a346107111e60a_how-it-works-2%20(1)-p-1600.png 1600w,
                            https://assets.website-files.com/6331f18a8af6845b0f127c61/6397cb6ec1a346107111e60a_how-it-works-2%20(1)-p-2000.png 2000w,
                            https://assets.website-files.com/6331f18a8af6845b0f127c61/6397cb6ec1a346107111e60a_how-it-works-2%20(1).png        2316w
                          "
                          sizes="(max-width: 479px) 100vw, (max-width: 767px) 76vw, (max-width: 991px) 80vw, (max-width: 1439px) 40vw, 576px"
                          alt="Pawp dashboard screen on cell phone"
                          class="image-90"
                        />
                      </div>
                      <div class="text-block-59">
                        After your first visit, you will receive an
                        outcome-based care plan with actionable advice and
                        specific instructions tailored to your pet.
                      </div>
                    </nav>
                  </div>
                </li>
                <li class="accordion-list-item">
                  <div><div class="text-block-61">03</div></div>
                  <div
                    data-hover="false"
                    data-delay="0"
                    data-w-id="e24d40c5-9121-7878-f5af-496e953fe392"
                    class="dropdown-2 w-dropdown"
                  >
                    <div
                      id="pet-parent-accordion-three"
                      class="dropdown-toggle-4 w-dropdown-toggle"
                      aria-controls="w-dropdown-list-6"
                      aria-haspopup="menu"
                      aria-expanded="false"
                      role="button"
                      tabindex="0"
                    >
                      <div class="text-block-60 no-pointer-event">
                        Follow up for any question or issue
                      </div>
                      <div class="div-block-77">
                        <div class="html-embed-2 w-embed">
                          <svg
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M20.6047 11.5C20.6047 16.1944 16.8876 20 12.3023 20C7.71708 20 4 16.1944 4 11.5C4 6.80558 7.71708 3 12.3023 3C16.8876 3 20.6047 6.80558 20.6047 11.5Z"
                              stroke="#9791C1"
                              stroke-width="1.5"
                            ></path>
                            <path
                              d="M17.4497 11.5C17.4497 11.5 14.433 11.5 12.5 11.5C10.567 11.5 7.55025 11.5 7.55025 11.5"
                              stroke="#9791C1"
                              stroke-width="1.5"
                              stroke-linecap="round"
                            ></path>
                          </svg>
                        </div>
                        <div style="opacity: 1" class="html-embed-3 w-embed">
                          <svg
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M20.6047 11.5C20.6047 16.1944 16.8876 20 12.3023 20C7.71708 20 4 16.1944 4 11.5C4 6.80558 7.71708 3 12.3023 3C16.8876 3 20.6047 6.80558 20.6047 11.5Z"
                              stroke="#9791C1"
                              stroke-width="1.5"
                            ></path>
                            <path
                              d="M12.5 6.55028V11.5M12.5 11.5V16.4498M12.5 11.5L17.4498 11.5M12.5 11.5H7.5503"
                              stroke="#9791C1"
                              stroke-width="1.5"
                              stroke-linecap="round"
                            ></path>
                          </svg>
                        </div>
                      </div>
                    </div>
                    <nav
                      style="height: 0px"
                      class="dropdown-list-4 w-dropdown-list"
                      id="w-dropdown-list-6"
                      aria-labelledby="pet-parent-accordion-three"
                    >
                      <div
                        id="pet-parent-image-three"
                        class="section-better-pet-parent-image display-none"
                      >
                        <img
                          src="https://assets.website-files.com/6331f18a8af6845b0f127c61/6397cb6e0827dd4765fc0e6d_how-it-works-3%20(2).png"
                          loading="lazy"
                          height="576"
                          width="640"
                          srcset="
                            https://assets.website-files.com/6331f18a8af6845b0f127c61/6397cb6e0827dd4765fc0e6d_how-it-works-3%20(2)-p-500.png   500w,
                            https://assets.website-files.com/6331f18a8af6845b0f127c61/6397cb6e0827dd4765fc0e6d_how-it-works-3%20(2)-p-800.png   800w,
                            https://assets.website-files.com/6331f18a8af6845b0f127c61/6397cb6e0827dd4765fc0e6d_how-it-works-3%20(2)-p-1080.png 1080w,
                            https://assets.website-files.com/6331f18a8af6845b0f127c61/6397cb6e0827dd4765fc0e6d_how-it-works-3%20(2)-p-1600.png 1600w,
                            https://assets.website-files.com/6331f18a8af6845b0f127c61/6397cb6e0827dd4765fc0e6d_how-it-works-3%20(2)-p-2000.png 2000w,
                            https://assets.website-files.com/6331f18a8af6845b0f127c61/6397cb6e0827dd4765fc0e6d_how-it-works-3%20(2).png        2316w
                          "
                          sizes="(max-width: 479px) 100vw, (max-width: 767px) 76vw, (max-width: 991px) 80vw, (max-width: 1439px) 40vw, 576px"
                          alt="Pawp chat screen on cell phone"
                          class="image-90"
                        />
                      </div>
                      <div class="text-block-59">
                        Check in on your pet's progress anytime with unlimited,
                        on-demand visits. Get answers you can trust from experts
                        who know your pet.
                      </div>
                    </nav>
                  </div>
                </li>
                <li class="accordion-list-item">
                  <div><div class="text-block-61">04</div></div>
                  <div
                    data-hover="false"
                    data-delay="0"
                    data-w-id="3b1f32b9-109d-0322-84af-001ed00ea5f7"
                    class="dropdown-2 w-dropdown"
                  >
                    <div
                      id="pet-parent-accordion-four"
                      class="dropdown-toggle-4 w-dropdown-toggle"
                      aria-controls="w-dropdown-list-7"
                      aria-haspopup="menu"
                      aria-expanded="false"
                      role="button"
                      tabindex="0"
                    >
                      <div class="text-block-60 no-pointer-event">
                        Get reminders &amp;&nbsp;recommendations
                      </div>
                      <div class="div-block-77">
                        <div class="html-embed-2 w-embed">
                          <svg
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M20.6047 11.5C20.6047 16.1944 16.8876 20 12.3023 20C7.71708 20 4 16.1944 4 11.5C4 6.80558 7.71708 3 12.3023 3C16.8876 3 20.6047 6.80558 20.6047 11.5Z"
                              stroke="#9791C1"
                              stroke-width="1.5"
                            ></path>
                            <path
                              d="M17.4497 11.5C17.4497 11.5 14.433 11.5 12.5 11.5C10.567 11.5 7.55025 11.5 7.55025 11.5"
                              stroke="#9791C1"
                              stroke-width="1.5"
                              stroke-linecap="round"
                            ></path>
                          </svg>
                        </div>
                        <div style="opacity: 1" class="html-embed-3 w-embed">
                          <svg
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M20.6047 11.5C20.6047 16.1944 16.8876 20 12.3023 20C7.71708 20 4 16.1944 4 11.5C4 6.80558 7.71708 3 12.3023 3C16.8876 3 20.6047 6.80558 20.6047 11.5Z"
                              stroke="#9791C1"
                              stroke-width="1.5"
                            ></path>
                            <path
                              d="M12.5 6.55028V11.5M12.5 11.5V16.4498M12.5 11.5L17.4498 11.5M12.5 11.5H7.5503"
                              stroke="#9791C1"
                              stroke-width="1.5"
                              stroke-linecap="round"
                            ></path>
                          </svg>
                        </div>
                      </div>
                    </div>
                    <nav
                      style="height: 0px"
                      class="dropdown-list-4 w-dropdown-list"
                      id="w-dropdown-list-7"
                      aria-labelledby="pet-parent-accordion-four"
                    >
                      <div
                        id="pet-parent-image-four"
                        class="section-better-pet-parent-image display-none"
                      >
                        <img
                          src="https://assets.website-files.com/6331f18a8af6845b0f127c61/6397cb6ec1a3463a7e11e609_how-it-works-4%20(3).png"
                          loading="lazy"
                          width="640"
                          height="576"
                          srcset="
                            https://assets.website-files.com/6331f18a8af6845b0f127c61/6397cb6ec1a3463a7e11e609_how-it-works-4%20(3)-p-500.png   500w,
                            https://assets.website-files.com/6331f18a8af6845b0f127c61/6397cb6ec1a3463a7e11e609_how-it-works-4%20(3)-p-800.png   800w,
                            https://assets.website-files.com/6331f18a8af6845b0f127c61/6397cb6ec1a3463a7e11e609_how-it-works-4%20(3)-p-1080.png 1080w,
                            https://assets.website-files.com/6331f18a8af6845b0f127c61/6397cb6ec1a3463a7e11e609_how-it-works-4%20(3)-p-1600.png 1600w,
                            https://assets.website-files.com/6331f18a8af6845b0f127c61/6397cb6ec1a3463a7e11e609_how-it-works-4%20(3)-p-2000.png 2000w,
                            https://assets.website-files.com/6331f18a8af6845b0f127c61/6397cb6ec1a3463a7e11e609_how-it-works-4%20(3).png        2316w
                          "
                          sizes="(max-width: 479px) 100vw, (max-width: 767px) 76vw, (max-width: 991px) 80vw, (max-width: 1439px) 40vw, 576px"
                          alt="Pawp dashboard screen on cell phone"
                          class="image-90"
                        />
                      </div>
                      <div class="text-block-59">
                        Keep on top of your pet's health goals with regular care
                        reminders and medically-backed products and resources.
                      </div>
                    </nav>
                  </div>
                </li>
                <li class="accordion-list-item">
                  <div><div class="text-block-61">05</div></div>
                  <div
                    data-hover="false"
                    data-delay="0"
                    data-w-id="82f687f1-a95c-2fe6-a811-0aa3b2e0683c"
                    class="dropdown-2 w-dropdown"
                  >
                    <div
                      id="pet-parent-accordion-five"
                      class="dropdown-toggle-4 w-dropdown-toggle"
                      aria-controls="w-dropdown-list-8"
                      aria-haspopup="menu"
                      aria-expanded="false"
                      role="button"
                      tabindex="0"
                    >
                      <div class="text-block-60 no-pointer-event">
                        Live a longer, happier life with your pet
                      </div>
                      <div class="div-block-77">
                        <div class="html-embed-2 w-embed">
                          <svg
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M20.6047 11.5C20.6047 16.1944 16.8876 20 12.3023 20C7.71708 20 4 16.1944 4 11.5C4 6.80558 7.71708 3 12.3023 3C16.8876 3 20.6047 6.80558 20.6047 11.5Z"
                              stroke="#9791C1"
                              stroke-width="1.5"
                            ></path>
                            <path
                              d="M17.4497 11.5C17.4497 11.5 14.433 11.5 12.5 11.5C10.567 11.5 7.55025 11.5 7.55025 11.5"
                              stroke="#9791C1"
                              stroke-width="1.5"
                              stroke-linecap="round"
                            ></path>
                          </svg>
                        </div>
                        <div style="opacity: 1" class="html-embed-3 w-embed">
                          <svg
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M20.6047 11.5C20.6047 16.1944 16.8876 20 12.3023 20C7.71708 20 4 16.1944 4 11.5C4 6.80558 7.71708 3 12.3023 3C16.8876 3 20.6047 6.80558 20.6047 11.5Z"
                              stroke="#9791C1"
                              stroke-width="1.5"
                            ></path>
                            <path
                              d="M12.5 6.55028V11.5M12.5 11.5V16.4498M12.5 11.5L17.4498 11.5M12.5 11.5H7.5503"
                              stroke="#9791C1"
                              stroke-width="1.5"
                              stroke-linecap="round"
                            ></path>
                          </svg>
                        </div>
                      </div>
                    </div>
                    <nav
                      style="height: 0px"
                      class="dropdown-list-4 w-dropdown-list"
                      id="w-dropdown-list-8"
                      aria-labelledby="pet-parent-accordion-five"
                    >
                      <div
                        id="pet-parent-image-five"
                        class="section-better-pet-parent-image display-none"
                      >
                        <img
                          src="https://assets.website-files.com/6331f18a8af6845b0f127c61/6397cbbe825007dfd337b264_how-it-works-5%20(3).png"
                          loading="lazy"
                          width="640"
                          height="576"
                          srcset="
                            https://assets.website-files.com/6331f18a8af6845b0f127c61/6397cbbe825007dfd337b264_how-it-works-5%20(3)-p-500.png   500w,
                            https://assets.website-files.com/6331f18a8af6845b0f127c61/6397cbbe825007dfd337b264_how-it-works-5%20(3)-p-800.png   800w,
                            https://assets.website-files.com/6331f18a8af6845b0f127c61/6397cbbe825007dfd337b264_how-it-works-5%20(3)-p-1080.png 1080w,
                            https://assets.website-files.com/6331f18a8af6845b0f127c61/6397cbbe825007dfd337b264_how-it-works-5%20(3)-p-1600.png 1600w,
                            https://assets.website-files.com/6331f18a8af6845b0f127c61/6397cbbe825007dfd337b264_how-it-works-5%20(3).png        1737w
                          "
                          sizes="(max-width: 479px) 100vw, (max-width: 767px) 76vw, (max-width: 991px) 80vw, (max-width: 1439px) 40vw, 576px"
                          alt="Woman holding cat on couch"
                          class="image-90"
                        />
                      </div>
                      <div class="text-block-59">
                        Feel confident that you're doing everything possible to
                        provide your pet with the happy, healthy, and long life
                        they deserve.
                      </div>
                    </nav>
                  </div>
                </li>
              </ol>
            </div>
          </div>
          <div class="faq-buttons-wrapper">
            <a
              id="unauthed-faq-button"
              data-track-click="true"
              data-track-click-name="CTA Selected"
              data-track-click-property-location="faqs-section"
              data-track-click-property-screen="how-it-works-landing"
              data-track-click-property-cta_text="Try 1 Month Free"
              href="/download-app/"
              class="button button-variant-white button-full-width button-how-it-works-faqs w-button"
              style="display: block"
              >Try 1 Month Free</a
            ><a
              id="authed-faq-button"
              data-track-click="true"
              data-track-click-name="CTA Selected"
              data-track-click-property-location="faqs-section"
              data-track-click-property-screen="how-it-works-landing"
              data-track-click-property-cta_text="Pawp Home"
              href="/app/dashboard/"
              class="button button-variant-white button-full-width button-how-it-works-faqs w-button"
              style="display: none"
              >Pawp Home</a
            >
          </div>
        </div>
      </div>
    </section>
    <section
      class="section-healthcare section-healthcare-how-it-works wf-section"
    >
      <div class="landing-page-container">
        <div class="section-healthcare-content">
          <p class="text-block-55 section-eyebrow">WHAT&nbsp;WE&nbsp;OFFER</p>
          <h2 class="section-healthcare-heading">
            Pet care that's designed to deliver results.
          </h2>
          <div class="section-healthcare-icon-text-container">
            <div class="section-healthcare-icon-text-block">
              <img
                src="https://assets.website-files.com/6331f18a8af6845b0f127c61/6393647fa1509e26624ce4cf_phone.webp"
                loading="lazy"
                sizes="(max-width: 767px) 84px, 100px"
                srcset="
                  https://assets.website-files.com/6331f18a8af6845b0f127c61/6393647fa1509e26624ce4cf_phone-p-500.webp  500w,
                  https://assets.website-files.com/6331f18a8af6845b0f127c61/6393647fa1509e26624ce4cf_phone.webp       1000w
                "
                alt="vet on cell phone screen graphic"
                class="section-healthcare-icon-text-block-icon"
              />
              <p class="text-block-50">24/7 vet professionals</p>
            </div>
            <div class="section-healthcare-icon-text-block">
              <img
                src="https://assets.website-files.com/6331f18a8af6845b0f127c61/6393647f5b8327a121161a5a_folder.webp"
                loading="lazy"
                sizes="(max-width: 767px) 83.90625px, 99.890625px"
                srcset="
                  https://assets.website-files.com/6331f18a8af6845b0f127c61/6393647f5b8327a121161a5a_folder-p-500.webp  500w,
                  https://assets.website-files.com/6331f18a8af6845b0f127c61/6393647f5b8327a121161a5a_folder.webp       1000w
                "
                alt="document folder graphic"
                class="section-healthcare-icon-text-block-icon"
              />
              <p class="text-block-50">Ongoing care reminders</p>
            </div>
            <div class="section-healthcare-icon-text-block">
              <img
                src="https://assets.website-files.com/6331f18a8af6845b0f127c61/6393647fd9484f1cfe902cea_stethoscope.webp"
                loading="lazy"
                sizes="(max-width: 767px) 84px, 100px"
                srcset="
                  https://assets.website-files.com/6331f18a8af6845b0f127c61/6393647fd9484f1cfe902cea_stethoscope-p-500.webp  500w,
                  https://assets.website-files.com/6331f18a8af6845b0f127c61/6393647fd9484f1cfe902cea_stethoscope.webp       1000w
                "
                alt="stethoscope graphic"
                class="section-healthcare-icon-text-block-icon"
              />
              <p class="text-block-50">Unlimited, on-demand visits</p>
            </div>
            <div class="section-healthcare-icon-text-block">
              <img
                src="https://assets.website-files.com/6331f18a8af6845b0f127c61/6393647f97ee4779f64e4586_clipboard.webp"
                loading="lazy"
                sizes="(max-width: 767px) 83.90625px, 99.890625px"
                srcset="
                  https://assets.website-files.com/6331f18a8af6845b0f127c61/6393647f97ee4779f64e4586_clipboard-p-500.webp  500w,
                  https://assets.website-files.com/6331f18a8af6845b0f127c61/6393647f97ee4779f64e4586_clipboard.webp       1000w
                "
                alt="clipboard folder graphic"
                class="section-healthcare-icon-text-block-icon"
              />
              <p class="text-block-50">Digital health history</p>
            </div>
            <div class="section-healthcare-icon-text-block">
              <img
                src="https://assets.website-files.com/6331f18a8af6845b0f127c61/6397c2c779e4ce98ddd52095_Personalized%20Care%20Plan%20(2).png"
                loading="lazy"
                sizes="(max-width: 767px) 84px, 100px"
                srcset="
                  https://assets.website-files.com/6331f18a8af6845b0f127c61/6397c2c779e4ce98ddd52095_Personalized%20Care%20Plan%20(2)-p-500.png 500w,
                  https://assets.website-files.com/6331f18a8af6845b0f127c61/6397c2c779e4ce98ddd52095_Personalized%20Care%20Plan%20(2).png       686w
                "
                alt="clipboard graphic"
                class="section-healthcare-icon-text-block-icon"
              />
              <p class="text-block-50">Outcome-based care plans</p>
            </div>
            <div class="section-healthcare-icon-text-block">
              <img
                src="https://assets.website-files.com/6331f18a8af6845b0f127c61/6393647f334dce1b9e485a02_book.webp"
                loading="lazy"
                sizes="(max-width: 767px) 83.90625px, 99.890625px"
                srcset="
                  https://assets.website-files.com/6331f18a8af6845b0f127c61/6393647f334dce1b9e485a02_book-p-500.webp  500w,
                  https://assets.website-files.com/6331f18a8af6845b0f127c61/6393647f334dce1b9e485a02_book.webp       1000w
                "
                alt="open book graphic"
                class="section-healthcare-icon-text-block-icon"
              />
              <p class="text-block-50">Vetted content &amp; resources</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section
      class="section-apps section-apps-home section-apps-how-it-works wf-section"
    >
      <div class="landing-page-container">
        <div class="section-apps-content">
          <div class="section-apps-left-content">
            <p
              class="text-block-27 text-weight-bold text-color-iris section-eyebrow"
            >
              WHERE&nbsp;TO&nbsp;START
            </p>
            <h2 class="heading-4 text-weight-medium">
              Put an expert in your back pocket.
            </h2>
            <p class="text-block-28">
              Bring the clinic to your living room with the Pawp app's
              best-in-show virtual pet care experience.
            </p>
            <div class="div-block-14">
              <a
                data-track-click-property-screen="how-it-works-landing"
                aria-label="Download ios app"
                data-track-click="true"
                data-track-click-name="App Download Selected"
                data-track-click-property-app="ios"
                data-track-click-property-location="hero"
                href="https://link.pawp.com/9SSD?af_web_dp=https%3A%2F%2Fapps.apple.com%2Fus%2Fapp%2Fpawp-24-7-vet-pet-care%2Fid1594794194&amp;initial_interaction=homepage"
                class="link-block-10 w-inline-block"
                ><img
                  src="https://assets.website-files.com/6331f18a8af6845b0f127c61/6397f4c74df072eb97be3338_apple.webp"
                  loading="lazy"
                  width="147"
                  height="44"
                  srcset="
                    https://assets.website-files.com/6331f18a8af6845b0f127c61/6397f4c74df072eb97be3338_apple-p-500.webp   500w,
                    https://assets.website-files.com/6331f18a8af6845b0f127c61/6397f4c74df072eb97be3338_apple-p-800.webp   800w,
                    https://assets.website-files.com/6331f18a8af6845b0f127c61/6397f4c74df072eb97be3338_apple-p-1080.webp 1080w,
                    https://assets.website-files.com/6331f18a8af6845b0f127c61/6397f4c74df072eb97be3338_apple.webp        1522w
                  "
                  sizes="147px"
                  alt="Download on the App Store"
                  class="image-59" /></a
              ><a
                data-track-click-property-screen="how-it-works-landing"
                aria-label="Download android app"
                data-track-click="true"
                data-track-click-name="App Download Selected"
                data-track-click-property-app="android"
                data-track-click-property-location="hero"
                href="https://link.pawp.com/9SSD?af_web_dp=https%3A%2F%2Fplay.google.com%2Fstore%2Fapps%2Fdetails%3Fid%3Dcom.pawp.android&amp;hl=en_US&amp;gl=US&amp;initial_interaction=homepage"
                class="link-block-21 w-inline-block"
                ><img
                  src="https://assets.website-files.com/6331f18a8af6845b0f127c61/6397f4c7bf0f8b869dc3266f_google-play.webp"
                  loading="lazy"
                  height="44"
                  width="147"
                  srcset="
                    https://assets.website-files.com/6331f18a8af6845b0f127c61/6397f4c7bf0f8b869dc3266f_google-play-p-500.webp   500w,
                    https://assets.website-files.com/6331f18a8af6845b0f127c61/6397f4c7bf0f8b869dc3266f_google-play-p-800.webp   800w,
                    https://assets.website-files.com/6331f18a8af6845b0f127c61/6397f4c7bf0f8b869dc3266f_google-play-p-1080.webp 1080w,
                    https://assets.website-files.com/6331f18a8af6845b0f127c61/6397f4c7bf0f8b869dc3266f_google-play.webp        1522w
                  "
                  sizes="147px"
                  alt="Get it on Google Play"
                  class="image-60"
              /></a>
            </div>
          </div>
          <div class="section-apps-right-content">
            <img
              src="https://assets.website-files.com/6331f18a8af6845b0f127c61/63989f320ccb2e32e443a2cd_Group%20427319728%20(3).webp"
              loading="lazy"
              width="637"
              height="423"
              alt="Three smart phones with pawp messages, a pawp video chat, and the pawp dashboard"
              srcset="
                https://assets.website-files.com/6331f18a8af6845b0f127c61/63989f320ccb2e32e443a2cd_Group%20427319728%20(3)-p-500.webp   500w,
                https://assets.website-files.com/6331f18a8af6845b0f127c61/63989f320ccb2e32e443a2cd_Group%20427319728%20(3)-p-800.webp   800w,
                https://assets.website-files.com/6331f18a8af6845b0f127c61/63989f320ccb2e32e443a2cd_Group%20427319728%20(3)-p-1080.webp 1080w,
                https://assets.website-files.com/6331f18a8af6845b0f127c61/63989f320ccb2e32e443a2cd_Group%20427319728%20(3)-p-1600.webp 1600w,
                https://assets.website-files.com/6331f18a8af6845b0f127c61/63989f320ccb2e32e443a2cd_Group%20427319728%20(3)-p-2000.webp 2000w,
                https://assets.website-files.com/6331f18a8af6845b0f127c61/63989f320ccb2e32e443a2cd_Group%20427319728%20(3)-p-2600.webp 2600w,
                https://assets.website-files.com/6331f18a8af6845b0f127c61/63989f320ccb2e32e443a2cd_Group%20427319728%20(3)-p-3200.webp 3200w
              "
              sizes="(max-width: 479px) 100vw, (max-width: 767px) 93vw, (max-width: 991px) 50vw, (max-width: 1439px) 48vw, 637px"
              class="image-47"
            />
          </div>
        </div>
      </div>
    </section>


    {% endblock body %}