{% extends 'accounts/base.html' %} {% block body %} {% load static %}
<section
  class="section-page-header section-page-header-partnerships wf-section"
>
  <div class="landing-page-container">
    <div
      class="section-page-header-content section-page-header-content-partnerships"
    >
      <div
        class="section-page-header-left-content section-page-header-left-content-partnerships"
      >
        <h1 class="heading-9">Partnering with the future of pet care.</h1>
        <p class="text-block-40">
          Pawp’s pet-centered approach to healthcare uses digital-first tools to
          provide better long-term health outcomes. We&#x27;d love to hear how
          working with your organization can help make this a reality.
        </p>
        <a
          href="#get-in-touch"
          data-track-click-property-cta_text="Get In Touch"
          data-track-click="true"
          data-track-click-name="CTA Selected"
          data-track-click-property-location="hero"
          data-track-click-property-screen="partnerships-landing"
          class="button button-size-large button-variant-iris button-full-width home-page-header-button unauthed-state w-button"
          >Get In Touch</a
        >
      </div>
      <div
        class="how-it-works-page-header-right-content section-partnerships-right-header-content"
      >
        <div class="how-it-works-header-image-wrapper">
          <img
            src="https://assets.website-files.com/6331f18a8af6845b0f127c61/6393637ec5d91cdb74fd4805_Hero.webp"
            loading="lazy"
            height="570"
            width="640"
            srcset="
              https://assets.website-files.com/6331f18a8af6845b0f127c61/6393637ec5d91cdb74fd4805_Hero-p-500.webp   500w,
              https://assets.website-files.com/6331f18a8af6845b0f127c61/6393637ec5d91cdb74fd4805_Hero-p-800.webp   800w,
              https://assets.website-files.com/6331f18a8af6845b0f127c61/6393637ec5d91cdb74fd4805_Hero-p-1080.webp 1080w,
              https://assets.website-files.com/6331f18a8af6845b0f127c61/6393637ec5d91cdb74fd4805_Hero-p-1600.webp 1600w,
              https://assets.website-files.com/6331f18a8af6845b0f127c61/6393637ec5d91cdb74fd4805_Hero-p-2000.webp 2000w,
              https://assets.website-files.com/6331f18a8af6845b0f127c61/6393637ec5d91cdb74fd4805_Hero-p-2600.webp 2600w
            "
            sizes="(max-width: 479px) 100vw, (max-width: 767px) 93vw, (max-width: 991px) 45vw, (max-width: 1439px) 44vw, 640px"
            alt="dog hold human hand with paw"
            class="image-86"
          />
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-partnerships-logos wf-section">
  <div class="landing-page-container">
    <div class="section-partnerships-logos-content">
      <div class="section-partnerships-logos-logo-wrapper">
        <img
          src="https://assets.website-files.com/6331f18a8af6845b0f127c61/6390e615f8bdea73486085ea_tmobile.png"
          loading="lazy"
          alt="Tmobile logo"
          class="image-70 company-logo-image"
        />
      </div>
      <div class="section-partnerships-logos-logo-wrapper">
        <img
          src="https://assets.website-files.com/6331f18a8af6845b0f127c61/6390e658fcad1e8a4d370914_wells-fargo%201.png"
          loading="lazy"
          alt="Wells Fargo logo"
          class="image-71 company-logo-image"
        />
      </div>
      <div class="section-partnerships-logos-logo-wrapper">
        <img
          src="https://assets.website-files.com/6331f18a8af6845b0f127c61/6390e67bd507b3ac24fe639f_saleforce.png"
          loading="lazy"
          alt="Salesforce logo"
          class="image-72 company-logo-image"
        />
      </div>
      <div class="section-partnerships-logos-logo-wrapper">
        <img
          src="https://assets.website-files.com/6331f18a8af6845b0f127c61/6390e68ecd2d6673d17fe6b0_hollywoodfeed.png"
          loading="lazy"
          alt="Hollywood Feed logo"
          class="image-73 company-logo-image"
        />
      </div>
      <div class="section-partnerships-logos-logo-wrapper">
        <img
          src="https://assets.website-files.com/6331f18a8af6845b0f127c61/6390e6c48372d039cbd9ef3c_austinpetsalive.png"
          loading="lazy"
          alt="austin pets alive logo"
          class="image-74 company-logo-image"
        />
      </div>
    </div>
  </div>
</section>
<section class="section-partnerships-logos-mobile wf-section">
  <div class="landing-page-container">
    <div class="section-partnerships-logos-mobile-content">
      <div class="div-block-64">
        <img
          src="https://assets.website-files.com/6331f18a8af6845b0f127c61/637d0df8a87e0822352b84e3_tmobile-mobile.png"
          loading="lazy"
          alt="Tmobile logo"
          class="image-78 company-logo-image"
        /><img
          src="https://assets.website-files.com/6331f18a8af6845b0f127c61/637d0df8bf971e05b69388d7_wellsfargo-mobile.png"
          loading="lazy"
          alt="Wells Fargo logo"
          class="image-79 company-logo-image"
        /><img
          src="https://assets.website-files.com/6331f18a8af6845b0f127c61/637d0df843d8ef4592140fc2_salesforce-mobile.png"
          loading="lazy"
          alt="Salesforce logo"
          class="image-80 company-logo-image"
        />
      </div>
      <div class="div-block-65">
        <img
          src="https://assets.website-files.com/6331f18a8af6845b0f127c61/637d0df842d5bd1df49d094e_hollywoodfeed-mobile.png"
          loading="lazy"
          alt="Hollywood Feed logo"
          class="image-81 company-logo-image"
        /><img
          src="https://assets.website-files.com/6331f18a8af6845b0f127c61/637d0df81455d6eb8635f910_austonpetsalive-mobile.png"
          loading="lazy"
          alt="austin pets alive logo"
          class="image-82 company-logo-image"
        />
      </div>
    </div>
  </div>
</section>
<section class="section-healthcare section-healthcare-partnerships wf-section">
  <div class="landing-page-container">
    <div class="section-healthcare-content">
      <div class="text-block-55 section-eyebrow">
        <strong>WHO WE ARE</strong>
      </div>
      <h2 class="section-healthcare-heading">
        Reimagining how we deliver healthcare to pets.
      </h2>
      <div class="section-healthcare-icon-text-container">
        <div class="section-healthcare-icon-text-block">
          <img
            src="https://assets.website-files.com/6331f18a8af6845b0f127c61/6393647fa1509e26624ce4cf_phone.webp"
            loading="lazy"
            width="100"
            height="100"
            alt="vet on cell phone screen graphic"
            srcset="
              https://assets.website-files.com/6331f18a8af6845b0f127c61/6393647fa1509e26624ce4cf_phone-p-500.webp  500w,
              https://assets.website-files.com/6331f18a8af6845b0f127c61/6393647fa1509e26624ce4cf_phone.webp       1000w
            "
            sizes="(max-width: 479px) 100vw, (max-width: 767px) 18vw, 100px"
            class="section-healthcare-icon-text-block-icon"
          />
          <p class="text-block-50">24/7 veterinary professionals</p>
        </div>
        <div class="section-healthcare-icon-text-block">
          <img
            src="https://assets.website-files.com/6331f18a8af6845b0f127c61/6393647f5b8327a121161a5a_folder.webp"
            loading="lazy"
            width="100"
            height="100"
            alt="document folder graphic"
            srcset="
              https://assets.website-files.com/6331f18a8af6845b0f127c61/6393647f5b8327a121161a5a_folder-p-500.webp  500w,
              https://assets.website-files.com/6331f18a8af6845b0f127c61/6393647f5b8327a121161a5a_folder.webp       1000w
            "
            sizes="(max-width: 479px) 100vw, (max-width: 767px) 18vw, 100px"
            class="section-healthcare-icon-text-block-icon"
          />
          <p class="text-block-50">Ongoing care reminders</p>
        </div>
        <div class="section-healthcare-icon-text-block">
          <img
            src="https://assets.website-files.com/6331f18a8af6845b0f127c61/6393647fd9484f1cfe902cea_stethoscope.webp"
            loading="lazy"
            width="100"
            height="100"
            alt="stethoscope graphic"
            srcset="
              https://assets.website-files.com/6331f18a8af6845b0f127c61/6393647fd9484f1cfe902cea_stethoscope-p-500.webp  500w,
              https://assets.website-files.com/6331f18a8af6845b0f127c61/6393647fd9484f1cfe902cea_stethoscope.webp       1000w
            "
            sizes="(max-width: 479px) 100vw, (max-width: 767px) 18vw, 100px"
            class="section-healthcare-icon-text-block-icon"
          />
          <p class="text-block-50">Unlimited, on-demand visits</p>
        </div>
        <div class="section-healthcare-icon-text-block">
          <img
            src="https://assets.website-files.com/6331f18a8af6845b0f127c61/6393647f97ee4779f64e4586_clipboard.webp"
            loading="lazy"
            width="100"
            height="100"
            alt="clipboard graphic"
            srcset="
              https://assets.website-files.com/6331f18a8af6845b0f127c61/6393647f97ee4779f64e4586_clipboard-p-500.webp  500w,
              https://assets.website-files.com/6331f18a8af6845b0f127c61/6393647f97ee4779f64e4586_clipboard.webp       1000w
            "
            sizes="(max-width: 479px) 100vw, (max-width: 767px) 18vw, 100px"
            class="section-healthcare-icon-text-block-icon"
          />
          <p class="text-block-50">Digital health history</p>
        </div>
        <div class="section-healthcare-icon-text-block">
          <img
            src="https://assets.website-files.com/6331f18a8af6845b0f127c61/6397c2c779e4ce98ddd52095_Personalized%20Care%20Plan%20(2).png"
            loading="lazy"
            width="100"
            height="100"
            alt="clipboard graphic"
            srcset="
              https://assets.website-files.com/6331f18a8af6845b0f127c61/6397c2c779e4ce98ddd52095_Personalized%20Care%20Plan%20(2)-p-500.png 500w,
              https://assets.website-files.com/6331f18a8af6845b0f127c61/6397c2c779e4ce98ddd52095_Personalized%20Care%20Plan%20(2).png       686w
            "
            sizes="(max-width: 479px) 100vw, (max-width: 767px) 18vw, 100px"
            class="section-healthcare-icon-text-block-icon"
          />
          <p class="text-block-50">Outcome-based care plans</p>
        </div>
        <div class="section-healthcare-icon-text-block">
          <img
            src="https://assets.website-files.com/6331f18a8af6845b0f127c61/6393647f334dce1b9e485a02_book.webp"
            loading="lazy"
            height="100"
            alt="open book graphic"
            width="100"
            srcset="
              https://assets.website-files.com/6331f18a8af6845b0f127c61/6393647f334dce1b9e485a02_book-p-500.webp  500w,
              https://assets.website-files.com/6331f18a8af6845b0f127c61/6393647f334dce1b9e485a02_book.webp       1000w
            "
            sizes="(max-width: 479px) 100vw, (max-width: 767px) 18vw, 100px"
            class="section-healthcare-icon-text-block-icon"
          />
          <p class="text-block-50">Vetted content &amp; resources</p>
        </div>
      </div>
    </div>
  </div>
</section>
<div id="get-in-touch" class="form-scroll-reference-block"></div>
<section class="section-partnerships-form wf-section">
  <div class="landing-page-container">
    <div class="section-partnerships-form-content">
      <div class="section-partnerships-form-text-content">
        <p class="text-block-48 section-eyebrow">HOW TO CONTACT</p>
        <h1 class="heading-10">How can we work with you?</h1>
        <p class="text-block-47">
          Let us know how we can partner together to create the care experience
          our pets truly deserve.
        </p>
      </div>
      <div class="section-partnerships-form-form">
        <div class="section-partnerships-form-form-text-wrapper">
          <h3 class="heading-11">Contact us</h3>
          <div class="text-block-49">
            Want to chat more about potential partnerships? Get in touch with us
            below:
          </div>
        </div>
        <div class="form-block-2 w-form">
          <form
            id="wf-form-Partnerships-Form"
            name="wf-form-Partnerships-Form"
            data-name="Partnerships Form"
            method="post"
            class="form-3"
          >
            <div class="div-block-58">
              <div class="div-block-66">
                <div class="system-text-field-wrapper half-width-desktop">
                  <input
                    type="text"
                    class="system-text-field w-input"
                    maxlength="256"
                    name="FIrst-Name"
                    data-name="FIrst Name"
                    placeholder="First Name"
                    id="first-name-field"
                    required=""
                  /><label
                    id="first-name-field-label"
                    for="first-name-field"
                    class="system-text-field-label"
                    >First Name</label
                  >
                  <div class="system-text-field-error-wrapper">
                    <div class="w-embed">
                      <svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4ZM2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12Z"
                          fill="#C75A47"
                        />
                        <path
                          d="M12 14C11.4477 14 11 13.5523 11 13L11 7C11 6.44772 11.4477 6 12 6C12.5523 6 13 6.44772 13 7L13 13C13 13.5523 12.5523 14 12 14Z"
                          fill="#C75A47"
                        />
                        <path
                          d="M10.5 16.5C10.5 15.6716 11.1716 15 12 15C12.8284 15 13.5 15.6716 13.5 16.5C13.5 17.3284 12.8284 18 12 18C11.1716 18 10.5 17.3284 10.5 16.5Z"
                          fill="#C75A47"
                        />
                      </svg>
                    </div>
                    <div class="system-text-field-error-message">
                      <div class="system-text-field-error-message-text">
                        This is some text inside of a div block.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="system-text-field-wrapper half-width-desktop">
                  <input
                    type="text"
                    class="system-text-field w-input"
                    maxlength="256"
                    name="Last-Name"
                    data-name="Last Name"
                    placeholder="Last Name"
                    id="Last-Name"
                    required=""
                  /><label for="Last-Name" class="system-text-field-label"
                    >Last Name</label
                  >
                  <div class="system-text-field-error-wrapper">
                    <div class="w-embed">
                      <svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4ZM2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12Z"
                          fill="#C75A47"
                        />
                        <path
                          d="M12 14C11.4477 14 11 13.5523 11 13L11 7C11 6.44772 11.4477 6 12 6C12.5523 6 13 6.44772 13 7L13 13C13 13.5523 12.5523 14 12 14Z"
                          fill="#C75A47"
                        />
                        <path
                          d="M10.5 16.5C10.5 15.6716 11.1716 15 12 15C12.8284 15 13.5 15.6716 13.5 16.5C13.5 17.3284 12.8284 18 12 18C11.1716 18 10.5 17.3284 10.5 16.5Z"
                          fill="#C75A47"
                        />
                      </svg>
                    </div>
                    <div class="system-text-field-error-message">
                      <div class="system-text-field-error-message-text">
                        This is some text inside of a div block.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="system-text-field-wrapper">
                <input
                  type="email"
                  class="system-text-field w-input"
                  maxlength="256"
                  name="Email"
                  data-name="Email"
                  placeholder="Email Address"
                  id="Email-3"
                  required=""
                /><label for="Email-3" class="system-text-field-label"
                  >Company Email</label
                >
                <div class="system-text-field-error-wrapper">
                  <div class="w-embed">
                    <svg
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4ZM2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12Z"
                        fill="#C75A47"
                      />
                      <path
                        d="M12 14C11.4477 14 11 13.5523 11 13L11 7C11 6.44772 11.4477 6 12 6C12.5523 6 13 6.44772 13 7L13 13C13 13.5523 12.5523 14 12 14Z"
                        fill="#C75A47"
                      />
                      <path
                        d="M10.5 16.5C10.5 15.6716 11.1716 15 12 15C12.8284 15 13.5 15.6716 13.5 16.5C13.5 17.3284 12.8284 18 12 18C11.1716 18 10.5 17.3284 10.5 16.5Z"
                        fill="#C75A47"
                      />
                    </svg>
                  </div>
                  <div class="system-text-field-error-message">
                    <div class="system-text-field-error-message-text">
                      This is some text inside of a div block.
                    </div>
                  </div>
                </div>
              </div>
              <div class="system-text-field-wrapper">
                <input
                  type="text"
                  class="system-text-field w-input"
                  maxlength="256"
                  name="Company"
                  data-name="Company"
                  placeholder="Company"
                  id="Company"
                  required=""
                /><label for="Company" class="system-text-field-label"
                  >Company Name</label
                >
                <div class="system-text-field-error-wrapper">
                  <div class="w-embed">
                    <svg
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4ZM2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12Z"
                        fill="#C75A47"
                      />
                      <path
                        d="M12 14C11.4477 14 11 13.5523 11 13L11 7C11 6.44772 11.4477 6 12 6C12.5523 6 13 6.44772 13 7L13 13C13 13.5523 12.5523 14 12 14Z"
                        fill="#C75A47"
                      />
                      <path
                        d="M10.5 16.5C10.5 15.6716 11.1716 15 12 15C12.8284 15 13.5 15.6716 13.5 16.5C13.5 17.3284 12.8284 18 12 18C11.1716 18 10.5 17.3284 10.5 16.5Z"
                        fill="#C75A47"
                      />
                    </svg>
                  </div>
                  <div class="system-text-field-error-message">
                    <div class="system-text-field-error-message-text">
                      This is some text inside of a div block.
                    </div>
                  </div>
                </div>
              </div>
              <div class="div-block-60">
                <div>
                  <label
                    for="oppurtunity-type-field"
                    class="system-text-field-label drop-down-select-label"
                    >Opportunity Type</label
                  ><select
                    id="oppurtunity-type-field"
                    name="Oppurtunity-Type"
                    data-name="Oppurtunity Type"
                    required=""
                    class="system-select-field w-select"
                  >
                    <option value="">Partnership Opportunity</option>
                    <option value="Employer">Employer</option>
                    <option value="Vet clinic">Vet clinic</option>
                    <option value="Shelter/Rescue">Shelter/Rescue</option>
                    <option value="Brand partnership">Brand partnership</option>
                    <option value="Affiliate">Affiliate</option>
                    <option value="Product integration">
                      Product integration
                    </option>
                    <option value="Influencers">Influencers</option>
                    <option value="Other">Other</option>
                  </select>
                </div>
              </div>
              <div class="system-text-field-wrapper">
                <label
                  for="More"
                  class="system-text-field-label system-text-field-label-text-area-field"
                  >Tell Us More</label
                ><textarea
                  id="More"
                  name="More"
                  maxlength="5000"
                  placeholder="Your message"
                  data-name="field"
                  class="system-text-field w-input"
                ></textarea>
              </div>
            </div>
            <input
              type="submit"
              value="Get In Touch"
              data-wait="Please wait..."
              class="submit-button button button-size-large button-variant-iris button-full-width section-partnerships-form-button w-button"
            />
          </form>
          <div
            id="form-success-message"
            data-track-click-name="Partner Form Submitted"
            data-track-click-property-location="form-section"
            data-track-click-property-screen="partnerships-landing"
            class="success-message-3 w-form-done"
          >
            <div class="text-block-52">
              Thank you! Your submission was received.
            </div>
          </div>
          <div class="error-message-2 w-form-fail">
            <div class="text-block-53">
              Oops! Something went wrong while submitting the form.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section
  data-w-id="b28bf099-b87b-d4e2-98be-5cae565334b9"
  class="section-reviews section-reviews-partnerships wf-section"
>
  <div class="landing-page-container custom-landing-page-container">
    <div class="section-reviews-content">
      <div class="section-reviews-top-text-content">
        <p class="text-block-51 section-eyebrow">WHAT PARTNERS SAY</p>
        <h2
          class="section-reviews-heading-text section-reviews-heading-text-partnerships"
        >
          Making a real difference with Pawp.
        </h2>
        <p class="section-reviews-subtitle-text">
          Our partnerships come in all shapes and sizes, but they have one thing
          in common: They make access to care easier and our pets lives better.
        </p>
      </div>
      <div>
        <div
          data-delay="4000"
          data-animation="slide"
          class="slider w-slider"
          data-autoplay="true"
          data-easing="ease"
          data-hide-arrows="false"
          data-disable-swipe="false"
          data-autoplay-limit="0"
          data-nav-spacing="3"
          data-duration="1000"
          data-infinite="true"
        >
          <div class="mask w-slider-mask">
            <div class="slide w-slide">
              <div class="section-reviews-slide-content">
                <div
                  class="section-reviews-slide-content-left section-reviews-slide-content-left-partnerships"
                >
                  <div class="div-block-54">
                    <img
                      src="https://assets.website-files.com/6331f18a8af6845b0f127c61/6397cec73f9002bd9c173bd1_ramp%E2%80%94logo.png"
                      loading="lazy"
                      sizes="(max-width: 479px) 100vw, 207px"
                      srcset="
                        https://assets.website-files.com/6331f18a8af6845b0f127c61/6397cec73f9002bd9c173bd1_ramp%E2%80%94logo-p-500.png   500w,
                        https://assets.website-files.com/6331f18a8af6845b0f127c61/6397cec73f9002bd9c173bd1_ramp%E2%80%94logo-p-800.png   800w,
                        https://assets.website-files.com/6331f18a8af6845b0f127c61/6397cec73f9002bd9c173bd1_ramp%E2%80%94logo-p-1080.png 1080w,
                        https://assets.website-files.com/6331f18a8af6845b0f127c61/6397cec73f9002bd9c173bd1_ramp%E2%80%94logo-p-1600.png 1600w,
                        https://assets.website-files.com/6331f18a8af6845b0f127c61/6397cec73f9002bd9c173bd1_ramp%E2%80%94logo-p-2000.png 2000w,
                        https://assets.website-files.com/6331f18a8af6845b0f127c61/6397cec73f9002bd9c173bd1_ramp%E2%80%94logo-p-2600.png 2600w
                      "
                      alt="Ramp logo"
                    />
                  </div>
                  <p class="text-block-42">
                    Pawp gave us another competitive edge.
                  </p>
                  <p class="text-block-43">
                    &quot;It was important to Ramp to provide the most
                    comprehensive, useful, and compelling benefits package
                    possible. We quickly learned that involved supporting our
                    team&#x27;s whole family — pets included.&quot;
                  </p>
                  <p class="text-block-44">Karim Atiyeh</p>
                  <p class="text-block-45">CTO, Ramp</p>
                </div>
                <div class="section-reviews-slide-content-right">
                  <img
                    src="https://assets.website-files.com/6331f18a8af6845b0f127c61/6397ca9c0827dd3356fbf23f_Mask%20group%20(21).webp"
                    loading="lazy"
                    height="423"
                    alt="Ramp employees sitting on couch"
                    width="600"
                    srcset="
                      https://assets.website-files.com/6331f18a8af6845b0f127c61/6397ca9c0827dd3356fbf23f_Mask%20group%20(21)-p-500.webp   500w,
                      https://assets.website-files.com/6331f18a8af6845b0f127c61/6397ca9c0827dd3356fbf23f_Mask%20group%20(21)-p-800.webp   800w,
                      https://assets.website-files.com/6331f18a8af6845b0f127c61/6397ca9c0827dd3356fbf23f_Mask%20group%20(21)-p-1080.webp 1080w,
                      https://assets.website-files.com/6331f18a8af6845b0f127c61/6397ca9c0827dd3356fbf23f_Mask%20group%20(21)-p-1600.webp 1600w,
                      https://assets.website-files.com/6331f18a8af6845b0f127c61/6397ca9c0827dd3356fbf23f_Mask%20group%20(21)-p-2000.webp 2000w,
                      https://assets.website-files.com/6331f18a8af6845b0f127c61/6397ca9c0827dd3356fbf23f_Mask%20group%20(21).webp        2160w
                    "
                    sizes="(max-width: 479px) 100vw, (max-width: 767px) 93vw, (max-width: 991px) 40vw, (max-width: 1439px) 42vw, 600px"
                    class="image-63"
                  />
                </div>
              </div>
            </div>
            <div class="slide w-slide">
              <div class="section-reviews-slide-content">
                <div
                  class="section-reviews-slide-content-left section-reviews-slide-content-left-partnerships"
                >
                  <div class="div-block-54">
                    <img
                      src="https://assets.website-files.com/6331f18a8af6845b0f127c61/6397cec7373b1b6975564b1b_truework%E2%80%94logo.png"
                      loading="lazy"
                      sizes="(max-width: 479px) 100vw, 207px"
                      srcset="
                        https://assets.website-files.com/6331f18a8af6845b0f127c61/6397cec7373b1b6975564b1b_truework%E2%80%94logo-p-500.png   500w,
                        https://assets.website-files.com/6331f18a8af6845b0f127c61/6397cec7373b1b6975564b1b_truework%E2%80%94logo-p-800.png   800w,
                        https://assets.website-files.com/6331f18a8af6845b0f127c61/6397cec7373b1b6975564b1b_truework%E2%80%94logo-p-1080.png 1080w,
                        https://assets.website-files.com/6331f18a8af6845b0f127c61/6397cec7373b1b6975564b1b_truework%E2%80%94logo-p-1600.png 1600w,
                        https://assets.website-files.com/6331f18a8af6845b0f127c61/6397cec7373b1b6975564b1b_truework%E2%80%94logo-p-2000.png 2000w,
                        https://assets.website-files.com/6331f18a8af6845b0f127c61/6397cec7373b1b6975564b1b_truework%E2%80%94logo-p-2600.png 2600w,
                        https://assets.website-files.com/6331f18a8af6845b0f127c61/6397cec7373b1b6975564b1b_truework%E2%80%94logo-p-3200.png 3200w
                      "
                      alt="truework logo"
                    />
                  </div>
                  <div class="text-block-42">
                    Pawp helped me do more for my team.
                  </div>
                  <div class="text-block-43">
                    &quot;We strive to offer the best working environment for
                    the Truework team and that includes providing access to vet
                    care and alleviating them of unnecessary stressors that can
                    naturally arise from having a pet.&quot;
                  </div>
                  <div class="text-block-44">Ryan Sandler</div>
                  <div class="text-block-45">CEO, Truework</div>
                </div>
                <div class="section-reviews-slide-content-right">
                  <img
                    src="https://assets.website-files.com/6331f18a8af6845b0f127c61/6397ca231a4cf7661acfa5f0_Mask%20group%20(18).webp"
                    loading="lazy"
                    height="423"
                    width="600"
                    srcset="
                      https://assets.website-files.com/6331f18a8af6845b0f127c61/6397ca231a4cf7661acfa5f0_Mask%20group%20(18)-p-500.webp   500w,
                      https://assets.website-files.com/6331f18a8af6845b0f127c61/6397ca231a4cf7661acfa5f0_Mask%20group%20(18)-p-800.webp   800w,
                      https://assets.website-files.com/6331f18a8af6845b0f127c61/6397ca231a4cf7661acfa5f0_Mask%20group%20(18)-p-1080.webp 1080w,
                      https://assets.website-files.com/6331f18a8af6845b0f127c61/6397ca231a4cf7661acfa5f0_Mask%20group%20(18)-p-1600.webp 1600w,
                      https://assets.website-files.com/6331f18a8af6845b0f127c61/6397ca231a4cf7661acfa5f0_Mask%20group%20(18)-p-2000.webp 2000w,
                      https://assets.website-files.com/6331f18a8af6845b0f127c61/6397ca231a4cf7661acfa5f0_Mask%20group%20(18)-p-2600.webp 2600w,
                      https://assets.website-files.com/6331f18a8af6845b0f127c61/6397ca231a4cf7661acfa5f0_Mask%20group%20(18).webp        2880w
                    "
                    sizes="(max-width: 479px) 100vw, (max-width: 767px) 93vw, (max-width: 991px) 40vw, (max-width: 1439px) 42vw, 600px"
                    alt="Ryan Sandler from truework"
                    class="image-64"
                  />
                </div>
              </div>
            </div>
            <div class="slide w-slide">
              <div class="section-reviews-slide-content">
                <div
                  class="section-reviews-slide-content-left section-reviews-slide-content-left-partnerships"
                >
                  <div class="div-block-54">
                    <img
                      src="https://assets.website-files.com/6331f18a8af6845b0f127c61/6397cec7c1a3464e20125998_nuvocargo%E2%80%94logo.png"
                      loading="lazy"
                      sizes="(max-width: 479px) 100vw, 207px"
                      srcset="
                        https://assets.website-files.com/6331f18a8af6845b0f127c61/6397cec7c1a3464e20125998_nuvocargo%E2%80%94logo-p-500.png   500w,
                        https://assets.website-files.com/6331f18a8af6845b0f127c61/6397cec7c1a3464e20125998_nuvocargo%E2%80%94logo-p-800.png   800w,
                        https://assets.website-files.com/6331f18a8af6845b0f127c61/6397cec7c1a3464e20125998_nuvocargo%E2%80%94logo-p-1080.png 1080w,
                        https://assets.website-files.com/6331f18a8af6845b0f127c61/6397cec7c1a3464e20125998_nuvocargo%E2%80%94logo-p-1600.png 1600w,
                        https://assets.website-files.com/6331f18a8af6845b0f127c61/6397cec7c1a3464e20125998_nuvocargo%E2%80%94logo-p-2000.png 2000w,
                        https://assets.website-files.com/6331f18a8af6845b0f127c61/6397cec7c1a3464e20125998_nuvocargo%E2%80%94logo-p-2600.png 2600w,
                        https://assets.website-files.com/6331f18a8af6845b0f127c61/6397cec7c1a3464e20125998_nuvocargo%E2%80%94logo-p-3200.png 3200w
                      "
                      alt="nuvo cargo logo"
                    />
                  </div>
                  <div class="text-block-42">
                    Pawp made a partnership work for us.
                  </div>
                  <div class="text-block-43">
                    &quot;Pawp operates with such efficiency and empathy. They
                    worked with us to create a partnership that made sense for
                    us, and it&#x27;s quite very popular on the company
                    Slack.&quot;
                  </div>
                  <div class="text-block-44">Deepak Chhugani</div>
                  <div class="text-block-45">CEO, Nuvocargo</div>
                </div>
                <div class="section-reviews-slide-content-right">
                  <img
                    src="https://assets.website-files.com/6331f18a8af6845b0f127c61/6397ca234b94c645d4283212_Mask%20group%20(20).webp"
                    loading="lazy"
                    height="423"
                    sizes="(max-width: 479px) 0px, 100vw"
                    srcset="
                      https://assets.website-files.com/6331f18a8af6845b0f127c61/6397ca234b94c645d4283212_Mask%20group%20(20)-p-500.webp   500w,
                      https://assets.website-files.com/6331f18a8af6845b0f127c61/6397ca234b94c645d4283212_Mask%20group%20(20)-p-800.webp   800w,
                      https://assets.website-files.com/6331f18a8af6845b0f127c61/6397ca234b94c645d4283212_Mask%20group%20(20)-p-1080.webp 1080w,
                      https://assets.website-files.com/6331f18a8af6845b0f127c61/6397ca234b94c645d4283212_Mask%20group%20(20)-p-1600.webp 1600w,
                      https://assets.website-files.com/6331f18a8af6845b0f127c61/6397ca234b94c645d4283212_Mask%20group%20(20)-p-2000.webp 2000w,
                      https://assets.website-files.com/6331f18a8af6845b0f127c61/6397ca234b94c645d4283212_Mask%20group%20(20)-p-2600.webp 2600w,
                      https://assets.website-files.com/6331f18a8af6845b0f127c61/6397ca234b94c645d4283212_Mask%20group%20(20).webp        2880w
                    "
                    alt="Deepak Chhugani from nuvo cargo"
                    class="image-57"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="left-arrow w-slider-arrow-left">
            <div class="w-embed">
              <svg
                width="25"
                height="25"
                viewBox="0 0 25 25"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M17.2071 5.35603C17.5976 4.96551 17.5976 4.33234 17.2071 3.94182C16.8166 3.55129 16.1834 3.55129 15.7929 3.94182L17.2071 5.35603ZM8.5 12.6489L7.79289 11.9418C7.40237 12.3323 7.40237 12.9655 7.79289 13.356L8.5 12.6489ZM15.7929 21.356C16.1834 21.7466 16.8166 21.7466 17.2071 21.356C17.5976 20.9655 17.5976 20.3323 17.2071 19.9418L15.7929 21.356ZM15.7929 3.94182L7.79289 11.9418L9.20711 13.356L17.2071 5.35603L15.7929 3.94182ZM7.79289 13.356L15.7929 21.356L17.2071 19.9418L9.20711 11.9418L7.79289 13.356Z"
                  fill="#13133D"
                />
              </svg>
            </div>
          </div>
          <div class="right-arrow w-slider-arrow-right">
            <div class="w-embed">
              <svg
                width="25"
                height="25"
                viewBox="0 0 25 25"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M9.20711 3.94182C8.81658 3.55129 8.18342 3.55129 7.79289 3.94182C7.40237 4.33234 7.40237 4.96551 7.79289 5.35603L9.20711 3.94182ZM16.5 12.6489L17.2071 13.356C17.5976 12.9655 17.5976 12.3323 17.2071 11.9418L16.5 12.6489ZM7.79289 19.9418C7.40237 20.3323 7.40237 20.9655 7.79289 21.356C8.18342 21.7466 8.81658 21.7466 9.20711 21.356L7.79289 19.9418ZM7.79289 5.35603L15.7929 13.356L17.2071 11.9418L9.20711 3.94182L7.79289 5.35603ZM15.7929 11.9418L7.79289 19.9418L9.20711 21.356L17.2071 13.356L15.7929 11.9418Z"
                  fill="#13133D"
                />
              </svg>
            </div>
          </div>
          <div class="slide-nav w-slider-nav w-round"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<section
  class="section-apps section-apps-home section-apps-artnerships wf-section"
>
  <div class="landing-page-container">
    <div class="section-apps-content">
      <div class="section-apps-left-content">
        <p
          class="text-block-27 text-weight-bold text-color-iris section-eyebrow"
        >
          WHERE TO START
        </p>
        <h2 class="heading-4 text-weight-medium">
          Put an expert in your back pocket.
        </h2>
        <p class="text-block-28">
          Bring the clinic to your living room with the Pawp app&#x27;s
          best-in-show virtual pet care experience.
        </p>
        <div class="div-block-14">
          <a
            data-track-click-property-screen="partnerships-landing"
            aria-label="Download ios app"
            data-track-click="true"
            data-track-click-name="App Download Selected"
            data-track-click-property-app="ios"
            data-track-click-property-location="hero"
            href="https://link.pawp.com/9SSD?af_web_dp=https://apps.apple.com/us/app/pawp-24-7-vet-pet-care/id1594794194"
            class="link-block-10 w-inline-block"
            ><img
              src="https://assets.website-files.com/6331f18a8af6845b0f127c61/638fa703180044f39ca405f5_Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917%201.png"
              loading="lazy"
              width="130"
              height="44"
              alt="download on app store badge"
              class="image-59" /></a
          ><a
            data-track-click-property-screen="partnerships-landing"
            aria-label="Download android app"
            data-track-click="true"
            data-track-click-name="App Download Selected"
            data-track-click-property-app="android"
            data-track-click-property-location="hero"
            href="https://link.pawp.com/9SSD?af_web_dp=https://play.google.com/store/apps/details?id=com.pawp.android&amp;hl=en_US&amp;gl=US"
            class="link-block-21 w-inline-block"
            ><img
              src="https://assets.website-files.com/6331f18a8af6845b0f127c61/638fa7037dd871f6f6a97004_Google_Play_Store_badge_EN%201.png"
              loading="lazy"
              height="44"
              width="147"
              alt="download on google play store badge"
              class="image-60"
          /></a>
        </div>
      </div>
      <div class="section-apps-right-content">
        <img
          src="{% static '/img/combined.png'%}"
          loading="lazy"
          width="637"
          height="423"
          alt="Three smart phones with pawp messages, a pawp video chat, and the pawp dashboard"
          srcset="
            {% static '/img/combined.png'%} 500w,
            {% static '/img/combined.png'%} 800w,
            {% static '/img/combined.png'%} 1080w,
            {% static '/img/combined.png'%} 1600w,
            {% static '/img/combined.png'%} 2000w,
            {% static '/img/combined.png'%} 2600w,
            {% static '/img/combined.png'%} 3200w
          "
          sizes="(max-width: 479px) 100vw, (max-width: 767px) 93vw, (max-width: 991px) 49vw, (max-width: 1439px) 47vw, 637px"
          class="image-47"
        />
      </div>
    </div>
  </div>
</section>
<section class="section-get-started wf-section">
  <div class="section-get-started-content">
    <div
      class="section-get-started-left-content section-get-started-left-content-partnerships"
    >
      <h2 class="heading-8">Ready to get started?</h2>
      <p class="get-started-subtext">
        Give your pet the round-the-clock care they deserve for better outcomes
        and longer lives.
      </p>
      <a
        href="#get-in-touch"
        data-track-click-property-cta_text="Get In Touch"
        data-track-click="true"
        data-track-click-name="CTA Selected"
        data-track-click-property-location="get-started-section"
        data-track-click-property-screen="partnerships-landing"
        class="button button-size-large button-variant-iris button-full-width footer-button w-button"
        >Get In Touch</a
      >
    </div>
    <div class="section-get-started-right-content">
      <img
        src="https://assets.website-files.com/6331f18a8af6845b0f127c61/633db2f5dd112e11895c7899_orange%201.png"
        loading="lazy"
        width="356"
        height="356"
        alt="Dog with mouth open in front of orange background"
        srcset="
          https://assets.website-files.com/6331f18a8af6845b0f127c61/633db2f5dd112e11895c7899_orange%201-p-500.png  500w,
          https://assets.website-files.com/6331f18a8af6845b0f127c61/633db2f5dd112e11895c7899_orange%201-p-800.png  800w,
          https://assets.website-files.com/6331f18a8af6845b0f127c61/633db2f5dd112e11895c7899_orange%201.png       1040w
        "
        sizes="(max-width: 479px) 100vw, (max-width: 767px) 332.6000061035156px, (max-width: 991px) 43vw, 356px"
        class="image-50"
      />
    </div>
  </div>
</section>
{% endblock body %}
